{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    جاک |‌ پروفایل کاربر
{% endblock %}


{% block css %}
    <link rel="stylesheet" href="{% static 'css/FJ_test.css' %}" type="text/css"/>
{% endblock %}

{% block js %}
    <script>
        function submitComment() {
            cm = $('#employer-comment-area').val();
            if (cm)
                addComment('employer', {{ employer.id }}, '#employer-comment', cm);
            else
                message('ابتدا نظر خود را بنویسید.', 'Warning');
        }

        $(document).ready(function () {

            $('.ui.accordion').accordion();

            $('#em_rating').rating('set rating', {{ employer.get_rate }}).rating({interactive: true, onRate: function (value) {
                addRate('employer', {{ employer.id }}, value);
            }});

            fetchComments('employer', {{ employer.id }}, 1, '#employer-comment');

            {% if self_profile %}
                $('#em_rating').rating({interactive: false});
                $('.ui.accordion .title a.edit_profile_accordion').attr('href', '{% url 'employer_edit_profile' %}');
{#                $('.ui.accordion .title a.edit_profile_accordion').click(function (e) {#}
{#                    var content = $(this).parent().next();#}
{#                    if ($(this).parent().hasClass('active')) {#}
{##}
{#                        if (!$(this).hasClass('fj_pressed')) {#}
{#                            $(this).addClass('fj_pressed');#}
{#                            content.find('.ui.label').each(function () {#}
{#                                $(this).replaceWith('<input type="text" value="@" name="*" style="width:100px;"/>'.replace('@', $(this).text()).replace('*', $(this).data('name')));#}
{#                            });#}
{##}
{#                        }#}
{#                        else {#}
{#                            $(this).removeClass('fj_pressed');#}
{#                            content.find('input').each(function () {#}
{#                                $(this).replaceWith('<span class="profile_info ui label">@</span>'.replace('@', $(this).val()));#}
{#                            });#}
{#                        }#}
{#                    }#}
{#                    e.preventDefault();#}
{#                    return false;#}
{#                });#}
            {% endif %}
        })
    </script>
{% endblock %}

{% block content %}
    <div class="center">
        <div class="ctn-box">
            <div class="fj_profile">
                <div class=" ui small rounded image ">
                    <img src="{{ employer.profile.image.thumbnail.url|default:'/static/images/user.png' }}"/>
                </div>
                <p style="margin: 10px 0; font-size: 24px;">{{ employer.profile.company_name }}</p>

                <div class="ui form" style="margin-bottom: 10px;">
                    <label>امتیاز: </label>

                    <div class="ui large rating" id="em_rating">
                        <i class="icon"></i>
                        <i class="icon"></i>
                        <i class="icon"></i>
                        <i class="icon"></i>
                        <i class="icon"></i>
                    </div>
                    <label>
                        (از
                        {{ employer.get_numer_of_rates }}
                        رای)
                    </label>
                </div>
            </div>
            <div class="ui fluid accordion jobseekerprofile">
                <div class="active title general_info">
                    <i class="triangle left icon"></i>
                    اطلاعات کلی
                    <a class="fj_link edit_profile_accordion">ویرایش</a>
                </div>
                <div class="active content general_info">

                    <div class="fj_row">

                        <div class="col1">
                            <label class="profile_label">نام شرکت: </label>
                        </div>
                        <div class="col15">
                            <span class="profile_info ui label " data-name='company_name'>{{ employer.profile.company_name }}</span>
                        </div>
                        <div class="col2">
                            <label class="profile_label">سال تاسیس: </label>
                        </div>
                        <div class="col25">
                            <span class="profile_info ui label" data-name="foundation_year">{{ employer.profile.foundation_year }}</span>
                        </div>
                        <div class="col3">
                            <label class="profile_label">شماره ثبت: </label>
                        </div>
                        <div class="col35">
                            <span class="profile_info ui label" data-name="reg_num">{{ employer.profile.reg_num }}</span>
                        </div>
                    </div>
                    <div class="fj_space"></div>
                    <div class="ui section divider fj_divider"></div>
                    <div class="fj_row">
                        <div class="col1">
                            <label class="profile_label">شماره تلفن: </label>
                        </div>
                        <div class="col15">
                            <span class="profile_info ui label" data-name="phone_number">{{ employer.profile.phone_number }}</span>
                        </div>
                        <div class="col2">
                            <label class="profile_label">شماره همراه: </label>
                        </div>
                        <div class="col25">
                            <span class="profile_info ui label" data-name="mobile_number">{{ employer.profile.mobile_number|default:'نامشخص' }}</span>
                        </div>
                        <div class="col3">
                            <label class="profile_label">وب سایت: </label>
                        </div>
                        <div class="col35">
                            <span class="profile_info ui label" data-name="website">{{ employer.profile.website|default:'نامشخص' }}</span>
                        </div>
                    </div>
                    <div class="fj_space"></div>
                    <div class="ui section divider fj_divider"></div>
                    <div class="fj_row">
                        <div class="col1">
                            <label class="profile_label">محل سازمان: </label>
                        </div>
                        <div class="col15">
                            <span class="profile_info ui label" data-name='city'>{{ employer.profile.city }}</span>-<span
                                class="profile_info ui label" data-name="state">{{ employer.profile.state }}</span>
                        </div>
                        <div class="col2">
                            <label class="profile_label">آدرس: </label>
                        </div>
                        <div class="col25">
                            <span class="profile_info ui label" data-name='address'>{{ employer.profile.address }}</span>
                        </div>
                        <div class="col3">
                            <label class="profile_label">کد پستی: </label>
                        </div>
                        <div class="col35">
                            <span class="profile_info ui label" data-name="postal_code">{{ employer.profile.postal_code|default:'نامشخص' }}</span>
                        </div>
                    </div>
                    <div class="fj_space"></div>

                </div>


                <div class="title education">
                    <i class="triangle left icon"></i>
                    اطلاعات کاری
                    <a class="fj_link edit_profile_accordion">ویرایش</a>
                </div>
                <div class="content education">
                    <div class="fj_row">
                        <div class="col1">
                            <label class="profile_label">نوع سازمان: </label>
                        </div>
                        <div class="col15">
                            <span class="profile_info ui label" data-name="company_type">{{ employer.profile.company_type }}</span>
                        </div>
                        <div class="col2">
                            <label class="profile_label">زمینه کاری: </label>
                        </div>
                        <div class="col25">
                            <span class="profile_info ui label" data-name="field">{{ employer.profile.field }}</span>
                        </div>
                    </div>
                    <div class="fj_space"></div>

                </div>
            </div>


            <div class="ui section divider"></div>
            <div class="row  ">
                <div class="ui sixteen column wide segment">
                    <!--<div class="segment">-->
                    <h3 class="ui header">
                        <i class="icon inverted circular blue comment"></i> نظرات
                    </h3>

                    <div class="ui comments  ">
                        <div id="employer-comment"></div>
                        {% if user.is_authenticated %}
                            <form class="ui reply form">
                                <div class="field">
                                    <textarea id="employer-comment-area"></textarea>
                                </div>
                                <div class="ui button teal submit labeled icon" onclick="submitComment()">
                                    <i class="icon edit"></i> ارسال نظر
                                </div>
                            </form>
                        {% endif %}
                    </div>

                </div>
            </div>


        </div>
    </div>
{% endblock %}