{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    جاک | لیست کارفرمایان
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/FJ.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/RF.css' %}"/>
    <link href="{% static 'css/help.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block js %}
    <script src="{% static 'js/rf.js' %}"></script>
    <script>
        $(document).ready(function () {
            $(".Sina_help").each(function () {
                $(this).hide();
            })

            icons = $(".help.icon")
            icons.each(function () {
                        x = this;
                        num = this.getAttribute('help-id');
                        id = "#msg_div" + num;
                        var help = $(id)
                        $(this).hover(function () {
                            help.show();
                            var h = help[0];
                            h.style.display = 'inline-table';
                        }, function () {
                            help.hide()
                        })
                    }
            );
        });
    </script>


{% endblock %}

{% block content %}
    <div class="center">
    <div class="ctn-box">
    <form id="employer_list_form">
        <div class="ui icon input left small" onkeypress="submit_employer_list(event)">
            {{ search_form.search_input }}
            <i class="inverted search icon"></i>
        </div>

        <small class="advanced_search">جستجوی پیشرفته</small>
        <label style="display: inline-block">

            <i class="tiny help icon" id="help_icon" help-id="0"
               style="cursor: pointer"></i>

            <div id="msg_div0" class="Sina_help Sina_help_news "
                 style="margin-top: -30px;">
                {{ search_form.search_input.help_text }}
            </div>
        </label>


        <div class="advanced_search_panel ui segment form">
            <div class="container">
                <div class="advanced_search_form rf">
                    <div class="ui form">
                        <div class="section">
                            <h3 class="inline_block"> اطلاعات سازمان </h3>

                            <label style="display: inline-block">

                                <i class="tiny help icon" id="help_icon" help-id="1"
                                   style="cursor: pointer"></i>

                                <div id="msg_div1" class="Sina_help Sina_help_news "
                                     style="margin-top: -16px;">
                                    {{ search_form.company_name.help_text }}
                                </div>
                            </label>


                            <div class="three fields">
                                <div class="inline field">
                                    <label class="input-details">{{ search_form.manager.label_tag }}: </label>
                                    {{ search_form.manager }}
                                </div>
                                <div class="inline field">
                                    <label class="input-details">{{ search_form.company_type.label_tag }}: </label>
                                    {{ search_form.company_type }}
                                </div>
                                <div class="inline field">
                                    <label class="input-details">{{ search_form.company_name.label_tag }}: </label>
                                    {{ search_form.company_name }}
                                </div>
                            </div>
                            <div class="three fields">
                                <div class="inline field">

                                    <label class="input-details">{{ search_form.city.label_tag }}: </label>
                                    {{ search_form.city }}
                                </div>
                                <div class="inline field">
                                    <label class="input-details">{{ search_form.state.label_tag }}: </label>
                                    {{ search_form.state }}
                                </div>
                                <div class="inline field">
                                    <label class="input-details">{{ search_form.field.label_tag }}: </label>
                                    {{ search_form.field }}
                                </div>
                            </div>

                        </div>

                        <div class="search_buttons">
                            <input class="inline ui button" type="reset" value="پاک کردن">
                            <input class="inline ui button" type="submit" value="جستجو">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="user_list">
        {% if employers %}
            {% for employer in employers %}
                <div class="ui raised segment single_user" id='job_seeker{{ employer.id }}'>
                    <div class="user_number inlineblock inlinemiddle ">
                        {{ forloop.counter }}
                    </div>
                    <img class="inlinemiddle"
                         src="{{ employer.image.thumbnail.url|default:'/static/images/user.png' }}">

                    <div class="inlinemiddle inlineblock user_data">
                        <div class="rf-vertical-divider"></div>
                        <div class="rf-user-info i1">
                            <div class="user_title"><span>نام شرکت: </span>{{ employer.profile.company_name }}
                            </div>
                            <div class="user_email"><span>نام کاربری: </span>{{ employer.email }}</div>
                            <div class="user_national_id">
                                <span>نوع شرکت: </span>{{ employer.profile.company_type }}
                            </div>
                        </div>
                        <div class="rf-user-info i2">
                            <div><span>شماره تماس: </span>{{ employer.profile.phone_number }}</div>
                            <div><span>استان: </span>{{ employer.profile.state.name }}</div>
                            <div><span>شهر: </span>{{ employer.profile.city.name }}</div>
                        </div>
                    </div>
                    <div class="user-buttons">
                        {% if user_type == 'manager' %}
                            {% if approved %}
                                <div class="ui icon tiny linkedin button rf-button"
                                        onclick='window.location="{% url 'show_profile' %}?pk={{ employer.pk }}"'>
                                    <i class=" user icon"></i><br/>
                                    پروفایل
                                </div>
                                <div class="ui icon tiny red button rf-button"
                                     onclick="disapprove_user({{ employer.id }}, 'employer')">
                                    <i class=" remove icon"></i>

                                    <div>
                                        غیرفعال
                                    </div>
                                </div>
                            {% else %}
                                <div class="ui icon tiny linkedin button rf-button"
                                     onclick="approve_user({{ employer.id }}, 'employer')">
                                    <i class=" user icon"></i><br/>
                                    تایید
                                </div>
                                <div class="ui icon tiny red button rf-button"
                                     onclick="remove_user({{ employer.id }}, 'employer')">
                                    <i class=" remove icon"></i>

                                    <div>
                                        حذف
                                    </div>
                                </div>

                            {% endif %}
                        {% elif user_type == 'jobseeker' %}
                            <div class="ui icon tiny linkedin button rf-button"
                                 onclick='window.location="{% url 'show_profile' %}?pk={{ employer.pk }}"'>
                                <i class=" user icon"></i><br/>
                                پروفایل
                            </div>
                            <div class="ui icon tiny green button rf-button" onclick='window.location="{% url 'add_request' 'jReq' %}?pk={{ employer.pk }}"'>
                                <i class=" add icon"></i>

                                <div>
                                    درخواست
                                </div>
                            </div>
                        {% elif user_type == 'employer' %}
                            <div class="ui icon tiny linkedin button rf-button"
                                 onclick='window.location="{% url 'show_profile' %}?pk={{ employer.pk }}"'>
                                <i class=" user icon"></i><br/>
                                پروفایل
                            </div>
                            <div class="ui icon tiny green button rf-button" onclick='window.location="{% url 'add_request' 'eReq' %}?pk={{ employer.pk }}"'>
                                <i class=" add icon"></i>

                                <div>
                                    درخواست
                                </div>
                            </div>
                        {% else %}
                        {% endif %}
                    </div>
                </div>
                <div class="ui section divider"
                     style="margin-top:0.5rem !important;margin-bottom:0.5rem !important"></div>
            {% endfor %}

            {% if employers.paginator.num_pages > 1 %}
                <div style="text-align: center;">
                    <div class="ui small pagination menu">
                        {% if employers.has_previous %}
                            <a href="?{{ get_params.urlencode }}&page={{ employers.previous_page_number }}"
                               class="icon item"><i class="icon right arrow"></i></a>
                        {% endif %}

                        {% for p in page_range %}
                            {% ifequal p employers.number %}
                                <a href="javascript:void(0);" class="active item">{{ p }}</a>
                            {% else %}
                                <a class="item" href="?{{ get_params.urlencode }}&page={{ p }}"> {{ p }}</a>
                            {% endifequal %}
                        {% endfor %}
                        {% if employers.has_next %}
                            <a class="item"
                               href="?{{ get_params.urlencode }}&page={{ employers.next_page_number }}"
                               class="icon item"><i class="icon left arrow"></i></a>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        {% else %}
            <div class="ui message error rf-no-list-item">
                کاربری با مشخصات خواسته شده، وجود ندارد.
            </div>
        {% endif %}
    </div>
    </div>
    </div>
{% endblock %}