{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    ثبت‌نام کارفرما | مرحله
    {{ wizard.steps.step1 }}
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/jobseeker_registration.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/help.css' %}"/>
{% endblock %}

{% block js %}
    {#<script src="{% static 'js/jobseeker_registration.js' %}"></script>#}
    <script src="{% static 'js/jquery.form.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/help.js' %}"></script>
    <script>
        $(document).ready(function () {
            step = {{ wizard.steps.step1 }};
            $('.step-box.' + step).addClass('step-active');

            {% if wizard.steps.step1 == 30 %}
                $('.reg_form input[type=text]:eq(0)')[0].change(function () {
                    {#            alert('dafuq?');#}
                    if ($(this).val()) {
                        $('.reg_form .input_labels').append('<span class=\"required-field\">*</span>');
//            $('.reg_form input:not(input[type=submit],input[type=hidden])').attr('required','required');
                    } else {
                        alert('che mikoni?!');
//            $('.reg_form input:not(input[type=submit],input[type=hidden])').removeAttr('required');
                    }
                });
            {% endif %}


        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#add-edu").click(function (e) {
                e.preventDefault();

                $("#add-edu-form").ajaxSubmit({
                    type: "POST",
                    success: function (responseText, statusText, xhr, $form) {
                        if (responseText !== "ERROR") {
                            var major = $("#id_major").val();
                            var orientation = $("#id_orientation").val();
                            var university = $("#id_university_name").val();
                            $("#added-edu").append('<li>&bull;&nbsp;&nbsp;' + major + '، ' + orientation + ' - ' + university +
                                    ' (<a href="#" class="delete-edu" edu-id="' + responseText + '">حذف</a>)' +
                                    '</li>');
                        }
                        else {
                            message('لطفا همه فیلدها را به درستی وارد کنید.', 'Error');

                            {#                            alert('لطفا همه فیلدها را به درستی وارد کنید.');#}
                        }
                    },

                    error: function () {
                        message('مشکلی در ارسال فرم بوجود آمد،دوباره امتحان کنید.', 'Error');

                        alert('ERROR');
                    }
                });
            });

            $("#add-skill").click(function (e) {
                e.preventDefault();

                $("#add-skill-form").ajaxSubmit({
                    type: "POST",
                    success: function (responseText, statusText, xhr, $form) {
                        if (responseText !== "ERROR") {
                            var skill = $("#id_skill_title").val();
                            $("#added-skills").append('<li>&bull;&nbsp;&nbsp;' + skill +
                                    ' (<a href="#" class="delete-skill" skill-id="' + responseText + '">حذف</a>)' +
                                    '</li>');
                        }
                        else {
                            message('لطفا همه فیلدها را به درستی وارد کنید.', 'Error');
                            {#                        alert('لطفا همه فیلدها را به درستی وارد کنید.');#}
                        }
                    },

                    error: function () {
                        message('مشکلی در ارسال فرم بوجود آمد،دوباره امتحان کنید.', 'Error');

                        {#                    alert('ERROR');#}
                    }
                });
            });

            $("#add-work").click(function (e) {
                e.preventDefault();

                $("#add-work-form").ajaxSubmit({
                    type: "POST",
                    success: function (responseText, statusText, xhr, $form) {
                        if (responseText !== "ERROR") {
                            var title = $("#id_title").val();
                            var place = $("#id_place").val();
                            $("#added-work").append('<li>&bull;&nbsp;&nbsp;' + title + ' - ' + place +
                                    ' (<a href="#" class="delete-work" work-id="' + responseText + '">حذف</a>)' +
                                    '</li>');
                        }
                        else {
                            message('لطفا همه فیلدها را به درستی وارد کنید.', 'Error');

                            {#                        alert('لطفا همه فیلدهای الزامی را به درستی وارد کنید.');#}
                        }
                    },

                    error: function () {
                        message('مشکلی در ارسال فرم بوجود آمد،دوباره امتحان کنید.', 'Error');

                        {#                    alert('ERROR');#}
                    }
                });
            });

            $(document).on('click', '.delete-edu', function () {
                var edu_id = $(this).attr('edu-id');
                var del_link = $(this);
                $.ajax({
                    url: "/accounts/jobseeker_remove/edu/",
                    data: "id=" + edu_id,
                    type: 'POST',
                    success: function () {
                        del_link.parent().remove();
                    }
                });

                return false;
            });

            $(document).on('click', '.delete-skill', function () {
                var edu_id = $(this).attr('skill-id');
                var del_link = $(this);
                $.ajax({
                    url: "/accounts/jobseeker_remove/skill/",
                    data: "id=" + edu_id,
                    type: 'POST',
                    success: function () {
                        del_link.parent().remove();
                    }
                });

                return false;
            });

            $(document).on('click', '.delete-work', function () {
                var edu_id = $(this).attr('work-id');
                var del_link = $(this);
                $.ajax({
                    url: "/accounts/jobseeker_remove/work/",
                    data: "id=" + edu_id,
                    type: 'POST',
                    success: function () {
                        del_link.parent().remove();
                    }
                });

                return false;
            });

        });
    </script>
{% endblock %}

{% block content %}
    <div class="center">
    <div class="ctn-box">
    <div class="register_panel">
    <!--<p>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>-->
    <div class="reg_nav_menu">
        <div class="step-box 1" title="اطلاعات اولیه">
            <h2><i class="icon user"></i>۱. اطلاعات اولیه</h2>

            <div class="step-desc">مرحله اول ثبت نام</div>
            <div class="clr"></div>
        </div>
        <div class="step-box 2" title="اطلاعات تحصیلی">
            <h2><i class="icon book"></i>۲. اطلاعات تحصیلی</h2>

            <div class="step-desc">مرحله دوم ثبت نام</div>
            <div class="clr"></div>
        </div>
        <div class="step-box 3" title="اطلاعات کاری">
            <h2><i class="icon briefcase"></i>۳. اطلاعات کاری</h2>

            <div class="step-desc">مرحله سوم ثبت نام</div>
            <div class="clr"></div>
        </div>
        <div class="step-box 4" title="اطلاعات تکمیلی">
            <h2><i class="icon edit"></i>۴. اطلاعات تکمیلی</h2>

            <div class="step-desc">مرحله چهارم ثبت نام</div>
        </div>
    </div>
    <div class="reg_form reg_1_form">
    {% if not wizard.steps.prev %}
        <p>
            کارفرمای گرامي. با سلام، از اينكه قصد ثبت نام در سامانه جاک را داريد سپاسگزاريم. لطفاً در مرحله اول
            مشخصات اوليه خواسته شده را وارد نماييد و برای ادامه فرایند ثبت نام روی دکمه مرحله بعد کلیک کنید.

        </p>
    {% else %}
        <p>
            لطفا اطلاعات خواسته شده را وارد نمایید.
        </p>
    {% endif %}

    {% if wizard.steps.step1 != 2 and wizard.steps.step1 != 3 %}
        <form action="" method="post">{% csrf_token %}{% endif %}
    {% if wizard.steps.step1 == 2 %}
        <h2> سوابق تحصیلی </h2>

        <ul id="added-edu" style="margin-bottom:20px;">
            {% for k, edu in current_edu.items %}
                <li>&bull;&nbsp;&nbsp; {{ edu.major }}، {{ edu.orientation }} - {{ edu.university_name }}
                    (<a href="#" class="delete-edu" edu-id="{{ k }}">حذف</a>)
                </li>
            {% endfor %}
        </ul>

        <div class="edu-info-form0">
    {% elif wizard.steps.step1 == 3 %}
        <h2> سوابق کاری </h2>

        <ul id="added-work" style="margin-bottom:20px;">
            {% for k, work in current_work.items %}
                <li>&bull;&nbsp;&nbsp; {{ work.title }} - {{ work.place }}
                    (<a href="#" class="delete-work" work-id="{{ k }}">حذف</a>)
                </li>
            {% endfor %}
        </ul>

        <div class="work-info-form0">
    {% endif %}
    <!--<table>-->
    {{ wizard.management_form }}
    {% if wizard.form.forms %}
        {{ wizard.form.management_form }}
        {% for form in wizard.form.forms %}
            {{ form }}
        {% endfor %}
    {% elif wizard.steps.step1 == 2 %}
        <form id="add-edu-form" action="/accounts/jobseeker_addedu/" method="post">
            {% csrf_token %}
            {% for field in edu_form %}
                {% if field.field.is_textarea %}
                    <div class="ui form">
                {% endif %}
            <div class='field'>
                <div class="input-details">
                    <label class="input_labels" style="display: block"> {{ field.label_tag }}
                        {% if field.field.required %}
                            <span class="required-field">*</span>
                        {% endif %}
                    </label>

                    <div class="ui small input field-input">
                        {{ field }}
                    </div>

                    {% if field.help_text %}
                        <label style="display: inline-block">

                            <i class="tiny help icon" id="help_icon" help-id="{{ forloop.counter }}"
                               style="cursor: pointer"></i>

                            <div id="msg_div{{ forloop.counter }}" class="Sina_help Sina_help_news "
                                 help-id="0"
                                 style="margin-top: -16px;">
                                {{ field.help_text }}
                            </div>
                        </label>
                    {% endif %}
                </div>
                <div class="input-errors">
                    {{ field.errors }}
                </div>
            </div>
            {% if field.field.is_textarea %}
                </div>
            {% endif %}
            {% endfor %}
        </form>

        </div>
        <div class="add-edu-buttons" dir="ltr" style="margin-top:20px">
            <div class="ui left attached tiny button">پاک کردن</div>
            <div id="add-edu" class="right attached ui tiny button rf-btn">اضافه کردن مدرک تحصیلی</div>
        </div>

        <h2>مهارت ها</h2>

        <ul id="added-skills" style="margin-bottom:20px;">
            {% for k, skill in current_skill.items %}
                <li>&bull;&nbsp;&nbsp; {{ skill.skill_title }}
                    (<a href="#" class="delete-skill" skill-id="{{ k }}">حذف</a>)
                </li>
            {% endfor %}
        </ul>

        <div class="skill-info-form0">

            <form id="add-skill-form" action="/accounts/jobseeker_addskill/" method="post">
                {% csrf_token %}
                {% for field in skill_form %}
                    {% if field.field.is_textarea %}
                        <div class="ui form">
                    {% endif %}
                <div class='field'>
                    <div class="input-details">
                        <label class="input_labels" style="display: block"> {{ field.label_tag }}
                            {% if field.field.required %}
                                <span class="required-field">*</span>
                            {% endif %}
                        </label>

                        <div class="ui small input field-input">
                            {{ field }}
                        </div>
                        {% if field.help_text %}
                            <label style="display: inline-block">

                                <i class="tiny help icon" id="help_icon" help-id="{{ forloop.counter }}"
                                   style="cursor: pointer"></i>

                                <div id="msg_div{{ forloop.counter }}" class="Sina_help Sina_help_news "
                                     help-id="0"
                                     style="margin-top: -16px;">
                                    {{ field.help_text }}
                                </div>
                            </label>
                        {% endif %}
                    </div>
                    <div class="input-errors">
                        {{ field.errors }}
                    </div>
                </div>
                {% if field.field.is_textarea %}
                    </div>
                {% endif %}
                {% endfor %}
            </form>

        </div>
        <div dir="ltr" style="margin-top:20px">
            <div class="ui left attached tiny button">پاک کردن</div>
            <div id="add-skill" class="right attached ui tiny button rf-btn">اضافه کردن مهارت</div>
        </div>

    {% elif wizard.steps.step1 == 3 %}
        <form id="add-work-form" action="/accounts/jobseeker_addexp/" method="post">
            {% csrf_token %}
            {% for field in experience_form %}
                {% if field.field.is_textarea %}
                    <div class="ui form">
                {% endif %}
            <div class='field'>
                <div class="input-details">
                    <label class="input_labels" style="display: block"> {{ field.label_tag }}
                        {% if field.field.required %}
                            <span class="required-field">*</span>
                        {% endif %}
                    </label>

                    <div class="ui small input field-input">
                        {{ field }}
                    </div>

                    {% if field.help_text %}
                        <label style="display: inline-block">

                            <i class="tiny help icon" id="help_icon" help-id="{{ forloop.counter }}"
                               style="cursor: pointer"></i>

                            <div id="msg_div{{ forloop.counter }}" class="Sina_help Sina_help_news "
                                 help-id="0"
                                 style="margin-top: -16px;">
                                {{ field.help_text }}
                            </div>
                        </label>
                    {% endif %}
                </div>
                <div class="input-errors">
                    {{ field.errors }}
                </div>
            </div>
            {% if field.field.is_textarea %}
                </div>
            {% endif %}
            {% endfor %}
        </form>
        </div>
        <div dir="ltr" style="margin-top:20px">
            <div class="ui left attached tiny button">پاک کردن</div>
            <div id="add-work" class="right attached ui tiny button rf-btn">اضافه کردن سابقه کاری</div>
        </div>
    {% else %}
        {% for field in wizard.form %}
            {% if field.field.is_textarea %}
                <div class="ui form">
            {% endif %}
        <div class='field'>
{#            <div class="input-details ">#}
            <div class=" inline">
                <label class="input_labels " > {{ field.label_tag }}
                    {% if field.field.required %}
                        <span class="required-field">*</span>
                    {% endif %}
                </label>

                <div class="ui small input field-input inline_block">
                    {{ field }}
                </div>

                {% if field.help_text %}
                    <label style="display: inline-block">

                        <i class="tiny help icon" id="help_icon" help-id="{{ forloop.counter }}"
                           style="cursor: pointer"></i>

                        <div id="msg_div{{ forloop.counter }}" class="Sina_help Sina_help_news "
                             help-id="0"
                             style="margin-top: -16px;">
                            {{ field.help_text }}
                        </div>
                    </label>
                {% endif %}

            </div>
            <div class="input-errors">
                {{ field.errors }}
            </div>
        </div>
        {% if field.field.is_textarea %}
            </div>
        {% endif %}


            {% if field.label == 'نوع دانشگاه' %}
                </div>
                <div class="add-edu-buttons" dir="ltr" style="margin-top:20px">
                    <div class="ui left attached tiny button">پاک کردن</div>
                    <div id="add-edu" class="right attached ui tiny button rf-btn">اضافه کردن مدرک تحصیلی</div>
                </div>

                <h2>مهارت ها</h2>
                <div class="skill-info-form0">
                    {% elif wizard.steps.step1 == 2 and field.label == 'توضیحات' %}
                </div>
                <div dir="ltr" style="margin-top:20px">
                    <div class="ui left attached tiny button">پاک کردن</div>
                    <div id="add-skill" class="right attached ui tiny button rf-btn">اضافه کردن مهارت</div>
                </div>

            {% endif %}

        {% endfor %}
    {% endif %}
    <!--</table>-->

                          <span class="netxt-btn-details"> فیلدهای با علامت
                        <span class="required-field">*</span>
                        باید حتما پر شوند</span>
    {% if wizard.steps.step1 == 2 or wizard.steps.step1 == 3 %}
        <form action="" method="post">{% csrf_token %}{% endif %}
    {% if wizard.steps.next %}

        <p>لطفا جهت تکمیل فرایند ثبت نام، روی دکمه 'مرحله بعد' کلیک کنید.</p>
        <input class="register-btn next_btn ui small button" type="submit" value="مرحله بعد">
    {% else %}

        <p>لطفا جهت تکمیل فرایند ثبت نام، روی دکمه 'ثبت' کلیک کنید.</p>

        <input class="next_btn green ui small button" type="submit" value="ثبت">
    {% endif %}
    {% if wizard.steps.prev %}
        <!--<button name="wizard_goto_step" type="submit"-->
        <!--value="{{ wizard.steps.first }}">مرحله اول</button>-->
        <button class="register-btn ui button small" name="wizard_goto_step" type="submit"
                value="{{ wizard.steps.prev }}">مرحله قبل
        </button>
    {% endif %}
    {% if wizard.steps.step1 == 2 or wizard.steps.step1 == 3 %}{{ wizard.management_form }}
        </form>{% endif %}
    {% if wizard.steps.step1 != 2 and wizard.steps.step1 != 3 %}</form>{% endif %}
    </div>
    <div class="clr"></div>
    </div>
    </div>
    </div>
{% endblock %}
