{% extends 'base.html' %}
{% load staticfiles %}
{% load account_tags %}

{% block title %}
    جاک | پروفایل کاربری
{% endblock %}


{% block css %}
    <link rel="stylesheet" href="{% static 'css/FJ_test.css' %}" type="text/css"/>
{% endblock %}

{% block js %}
    <script>
        function submitComment() {
            cm = $('#jobseeker-comment-area').val();
            if (cm)
                addComment('job_seeker', {{ jobseeker.id }}, '#jobseeker-comment', cm);
            else
                message('ابتدا نظر خود را بنویسید.', 'Warning');
        }
        $(document).ready(function () {
            $('.ui.accordion').accordion();

            $('#js_rating').rating('set rating', {{ jobseeker.get_rate }}).rating({interactive: true, onRate: function (value) {
                addRate('job_seeker', {{ jobseeker.id }}, value);
            }});


            fetchComments('job_seeker', {{ jobseeker.id }}, 1, '#jobseeker-comment');

            {% if self_profile %}
                $('#js_rating').rating({interactive: false});
                $('.ui.accordion .title a.edit_profile_accordion').click(function (e) {
                    var content = $(this).parent().next();
                    if ($(this).parent().hasClass('active')) {

                        if (!$(this).hasClass('fj_pressed')) {
                            $(this).addClass('fj_pressed');
                            content.find('.ui.label').each(function () {
                                $(this).replaceWith('<input type="text" value="@" style="width:100px;"/>'.replace('@', $(this).text()));
                            });

                        }
                        else {
                            $(this).removeClass('fj_pressed');
                            content.find('input').each(function () {
                                $(this).replaceWith('<span class="profile_info ui label">@</span>'.replace('@', $(this).val()));
                            });
                        }
                    }
                    e.preventDefault();
                    return false;
                });

            {% endif %}
        })
    </script>
{% endblock %}

{% block content %}
    <div class="center">
    <div class="ctn-box">
    <div class="fj_profile">
        <div class=" ui small rounded image ">
            <img src="{{ jobseeker.profile.image.thumbnail.url|default:'/static/images/user.png' }}"/>
        </div>
        <p style="margin: 10px 0; font-size: 24px;">{{ jobseeker.get_full_name }}</p>

        <div class="ui form" style="margin-bottom: 10px;">
            <label>امتیاز: </label>

            <div class="ui large rating" id="js_rating">
                <i class="icon"></i>
                <i class="icon"></i>
                <i class="icon"></i>
                <i class="icon"></i>
                <i class="icon"></i>
            </div>
            <label>
                (از
                {{ jobseeker.get_numer_of_rates }}
                رای)
            </label>
        </div>
    </div>
    <div class="ui fluid accordion jobseekerprofile">
    <div class="active title general_info">
        <i class="triangle left icon"></i>
        اطلاعات کلی
        {% if self_profile %}<a class="fj_link edit_profile_accordion">ویرایش</a>{% endif %}
    </div>
    <div class="active content general_info">

        <div class="fj_row">

            <div class="col1">
                <label class="profile_label">نام: </label>
            </div>
            <div class="col15">
                <span class="profile_info ui label ">{{ jobseeker.first_name }}</span>
            </div>
            <div class="col2">
                <label class="profile_label">نام خانوادگی: </label>
            </div>
            <div class="col25">
                <span class="profile_info ui label ">{{ jobseeker.last_name }}</span>
            </div>
            <div class="col3">
                <label class="profile_label">شماره ملی: </label>
            </div>
            <div class="col35">
                <span class="profile_info ui label ">{{ jobseeker.profile.national_id }}</span>
            </div>
        </div>
        <div class="fj_space"></div>
        <div class="ui section divider fj_divider"></div>
        <div class="fj_row">
            <div class="col1">
                <label class="profile_label">تاریخ تولد: </label>
            </div>
            <div class="col15">
                <span class="profile_info ui label">{{ jobseeker.profile.date_of_birth|default:'نامشخص' }}</span>
            </div>
            <div class="col2">
                <label class="profile_label">جنسیت: </label>
            </div>
            <div class="col25">
                <span class="profile_info ui label">{% get_sex_rep jobseeker.profile.sex %}</span>
            </div>
            <div class="col3">
                <label class="profile_label">وضعیت تاهل: </label>
            </div>
            <div class="col35">
                <span class="profile_info ui label">{{ jobseeker.profile.exemption|default:'نامشخص' }}</span>
            </div>
        </div>
        <div class="fj_space"></div>
        <div class="ui section divider fj_divider"></div>
        <div class="fj_row">
            <div class="col1">
                <label class="profile_label">شماره تلفن: </label>
            </div>
            <div class="col15">
                <span class="profile_info ui label">{{ jobseeker.profile.phone_number|default:'نامشخص' }}</span>
            </div>
            <div class="col2">
                <label class="profile_label">شماره همراه: </label>
            </div>
            <div class="col25">
                <span class="profile_info ui label">{{ jobseeker.profile.mobile_number|default:'نامشخص' }}</span>
            </div>
        </div>
        <div class="fj_space"></div>
        <div class="ui section divider fj_divider"></div>
        <div class="fj_row">
            <div class="col1">
                <label class="profile_label">ساکن: </label>
            </div>
            <div class="col15">
                <span class="profile_info ui label">{{ jobseeker.profile.city }}</span>-<span
                    class="profile_info ui label">{{ jobseeker.profile.state }}</span>
            </div>
            <div class="col2">
                <label class="profile_label">وضعیت سربازی: </label>
            </div>
            <div class="col25">
                <span class="profile_info ui label">{{ jobseeker.profile.military_service_status|default:'نامشخص' }}</span>
            </div>
            <div class="col3">
                <label class="profile_label">علت معافیت: </label>
            </div>
            <div class="col35">
                <span class="profile_info ui label">{{ jobseeker.profile.exemption_type|default:'نامشخص' }}</span>
            </div>
        </div>
        <div class="fj_space"></div>
        <div class="ui section divider fj_divider fj_divider"></div>

        <div class="fj_row">
            <div class="col1">
                <label class="profile_label">درباره کارجو: </label>
            </div>
            <div class="col15">
                <span class="profile_info ui label ">{{ jobseeker.resume.about_me|default:'نامشخص' }}</span>
            </div>
        </div>
        <div class="fj_space"></div>
    </div>


    <div class="title education">
        <i class="triangle left icon"></i>
        تحصیلات
        <a class="fj_link edit_profile_accordion">ویرایش</a>
    </div>
    <div class="content education">
        {% for education in jobseeker.resume.education.all %}
            <div class="fj_row">
                <div class="col1">
                    <label class="profile_label">رشته: </label>
                </div>
                <div class="col15">
                    <span class="profile_info ui label">{{ education.major }}</span>
                </div>
                <div class="col2">
                    <label class="profile_label">گرایش: </label>
                </div>
                <div class="col25">
                    <span class="profile_info ui label">{{ education.orientation }}</span>
                </div>
                <div class="col3">
                    <label class="profile_label">مدرک: </label>
                </div>
                <div class="col35">
                    <span class="profile_info ui label">{% get_edu_certificate_rep education.certificate %}</span>
                </div>

            </div>
            <div class="fj_space"></div>
            <div class="fj_row">
                <div class="col3">
                    <label class="profile_label">دانشگاه: </label>
                </div>
                <div class="col35">
                    <span class="profile_info ui label">{{ education.university_name }}</span>
                </div>
                <div class="col1">
                    <label class="profile_label">نوع دانشگاه: </label>
                </div>
                <div class="col15">
                    <span class="profile_info ui label">{% get_edu_uni_type_rep education.university_type %}</span>
                </div>
                <div class="col2">
                    <label class="profile_label">وضعیت: </label>
                </div>
                <div class="col25">
                    <span class="profile_info ui label">{% get_edu_status_rep education.status %}</span>
                </div>
            </div>
            <div class="fj_space"></div>
            <div class="ui section divider fj_divider"></div>
        {% endfor %}
    </div>


    <div class="title skills">
        <i class="triangle left icon"></i>
        مهارت ها
        <a class="fj_link edit_profile_accordion">ویرایش</a>
    </div>
    <div class="content skills">
        {% for skill in jobseeker.resume.skill.all %}
            <div class="fj_row">
                <div class="col1">
                    <label class="profile_label">عنوان: </label>
                </div>
                <div class="col15">
                    <span class="profile_info ui label">{{ skill.title }}</span>
                </div>
                <div class="col2">
                    <label class="profile_label">سطح: </label>
                </div>
                <div class="col25">
                    <span class="profile_info ui label">{% get_skill_level_rep skill.level %}</span>
                </div>

            </div>
            <div class="fj_space"></div>
            {% if skill.description %}
                <div class="fj_row">
                    <div class="col1">
                        <label class="profile_label">توضیح: </label>
                    </div>
                    <div class="col15">
                        <span class="profile_info ui label">{{ skill.description }}</span>
                    </div>
                </div>
                <div class="fj_space"></div>
            {% endif %}
            <div class="ui section divider fj_divider"></div>
        {% endfor %}
    </div>


    <div class="title experience">
        <i class="triangle left icon"></i>
        سوابق کاری
        <a class="fj_link edit_profile_accordion">ویرایش</a>
    </div>
    <div class="content experience skills">
        {% for xp in jobseeker.resume.experience.all %}
            <div class="fj_row">
                <div class="col1">
                    <label class="profile_label">عنوان: </label>
                </div>
                <div class="col15">
                    <span class="profile_info ui label">{{ xp.title }}</span>
                </div>
                <div class="col2">
                    <label class="profile_label">در: </label>
                </div>
                <div class="col25">
                    <span class="profile_info ui label">{{ xp.place }}</span>
                </div>
                <div class="col3">
                    <label class="profile_label">نوع همکاری: </label>
                </div>
                <div class="col35">
                    <span class="profile_info ui label">{{ xp.cooperation_type }}</span>
                </div>
            </div>
            <div class="fj_space"></div>

            <div class="fj_row">
                <div class="col1">
                    <label class="profile_label">از تاریخ: </label>
                </div>
                <div class="col15">
                    <span class="profile_info ui label">{{ xp.from_date }}</span>
                </div>
                <div class="col2">
                    <label class="profile_label">تا تاریخ: </label>
                </div>
                <div class="col25">
                    <span class="profile_info ui label">{{ xp.to_date }}</span>
                </div>
            </div>
            <div class="fj_space"></div>

            {% if xp.description %}
                <div class="fj_row">
                <div class="col1">
                    <label class="profile_label">توضیحات: </label>
                </div>
                <div class="col15">
                    <span class="profile_info ui label">{{ xp.description }}</span>
                </div>
            {% endif %}
        </div>
            <div class="fj_space"></div>
            {% if xp.exit_reason %}
                <div class="fj_row">
                    <div class="col1">
                        <label class="profile_label">علت قطع همکاری: </label>
                    </div>
                    <div class="col15">
                        <span class="profile_info ui label">{{ xp.exit_reason }}</span>
                    </div>

                </div>
                <div class="fj_space"></div>
            {% endif %}

            <div class="ui section divider fj_divider"></div>
        {% endfor %}
    </div>
    </div>

    <div class="ui section divider"></div>
    <div class="row  ">
        <div class="ui sixteen column wide segment">
            <!--<div class="segment">-->
            <h3 class="ui header">
                <i class="icon inverted circular blue comment"></i> نظرات
            </h3>

            <div class="ui comments  ">
                <div id="jobseeker-comment"></div>
                {% if user.is_authenticated %}
                    <form class="ui reply form">
                        <div class="field">
                            <textarea id="jobseeker-comment-area"></textarea>
                        </div>
                        <div class="ui button teal submit labeled icon" onclick="submitComment()">
                            <i class="icon edit"></i> ارسال نظر
                        </div>
                    </form>
                {% endif %}
            </div>

        </div>
    </div>
    </div>
    </div>
{% endblock %}