{% extends 'base.html' %}
{% load staticfiles %}


{% block css %}
    <link rel="stylesheet" href="{% static 'css/FJ_test.css' %}" type="text/css"/>
{% endblock %}

{% block js %}
    <script>
        $(document).ready(function () {
            $('.ui.accordion').accordion();

            $('.ui.accordion .title a.edit_profile_accordion').click(function (e) {
                var content = $(this).parent().next();
                if ($(this).parent().hasClass('active')) {

                    if (!$(this).hasClass('fj_pressed')) {
                        $(this).addClass('fj_pressed');
                        content.find('.ui.label').each(function () {
                            $(this).replaceWith('<input type="text" value="@" style="width:100px;"/>'.replace('@', $(this).text()));
                        });

                    }
                    else {
                        $(this).removeClass('fj_pressed');
                        content.find('input').each(function () {
                            $(this).replaceWith('<span class="profile_info ui label">@</span>'.replace('@', $(this).val()));
                        });
                    }
                }
                e.preventDefault();
                    return false;
            });
        })
    </script>
{% endblock %}

{% block content %}
    <div class="center">
    <div class="ctn-box">
    <div class="fj_profile">
        <div class=" ui small rounded image ">
            <img src="{% static 'images/grumpy.jpeg' %}"/>
        </div>
        <p style="margin: 10px 0; font-size: 24px;">علیرضا فراهانی</p>
    </div>
    <div class="ui fluid accordion jobseekerprofile">
    <div class="active title general_info">
        <i class="triangle left icon"></i>
        اطلاعات کلی
        <a class="fj_link edit_profile_accordion">ویرایش</a>
    </div>
    <div class="active content general_info">

        <div class="fj_row">

            <div class="col1">
                <label class="profile_label">نام: </label>
            </div>
            <div class="col15">
                <span class="profile_info ui label ">علیرضا </span>
            </div>
            <div class="col2">
                <label class="profile_label">نام خانوادگی: </label>
            </div>
            <div class="col25">
                <span class="profile_info ui label ">فراهانی </span>
            </div>
            <div class="col3">
                <label class="profile_label">شماره ملی: </label>
            </div>
            <div class="col35">
                <span class="profile_info ui label ">۸۹۱۰۵۵۸۵</span>
            </div>
        </div>
        <div class="fj_space"></div>
        <div class="ui section divider fj_divider"></div>
        <div class="fj_row">
            <div class="col1">
                <label class="profile_label">تاریخ تولد: </label>
            </div>
            <div class="col15">
                <span class="profile_info ui label">۲۶/۹/۷۰</span>
            </div>
            <div class="col2">
                <label class="profile_label">جنسیت: </label>
            </div>
            <div class="col25">
                <span class="profile_info ui label">جبار</span>
            </div>
            <div class="col3">
                <label class="profile_label">وضعیت تاهل: </label>
            </div>
            <div class="col35">
                <span class="profile_info ui label">همیشه تنها</span>
            </div>
        </div>
        <div class="fj_space"></div>
        <div class="ui section divider fj_divider"></div>
        <div class="fj_row">
            <div class="col1">
                <label class="profile_label">شماره منزل: </label>
            </div>
            <div class="col15">
                <span class="profile_info ui label">۰۲۱۲۲۲۲۲۲۲</span>
            </div>
            <div class="col2">
                <label class="profile_label">شماره همراه: </label>
            </div>
            <div class="col25">
                <span class="profile_info ui label">۰۹۳۶۵۹۳۲۴۷۹</span>
            </div>
        </div>
        <div class="fj_space"></div>
        <div class="ui section divider fj_divider"></div>
        <div class="fj_row">
            <div class="col1">
                <label class="profile_label">ساکن: </label>
            </div>
            <div class="col15">
                <span class="profile_info ui label">اندیشه</span><span class="profile_info ui label">تهران</span>
            </div>
            <div class="col2">
                <label class="profile_label">وضعیت سربازی: </label>
            </div>
            <div class="col25">
                <span class="profile_info ui label">معاف</span>
            </div>
            <div class="col3">
                <label class="profile_label">علت معافیت: </label>
            </div>
            <div class="col35">
                <span class="profile_info ui label">تحصیلی</span>
            </div>
        </div>
        <div class="fj_space"></div>
        <div class="ui section divider fj_divider fj_divider"></div>

        <div class="fj_row">
            <div class="col1">
                <label class="profile_label">درباره کارجو: </label>
            </div>
            <div class="col15">
                <span class="profile_info ui label ">برنامه نویس در شرکت سامانه پروران شریف. سخت کوش و با استقامت</span>
            </div>
        </div>
        <div class="fj_space"></div>
    </div>


    <div class="title education">
        <i class="triangle left icon"></i>
        تحصیلات
        <a class="fj_link edit_profile_accordion">ویرایش</a>
    </div>
    <div class="content education">
        <div class="fj_row">
            <div class="col1">
                <label class="profile_label">رشته: </label>
            </div>
            <div class="col15">
                <span class="profile_info ui label">مهندسی کامپیوتر</span>
            </div>
            <div class="col2">
                <label class="profile_label">مدرک: </label>
            </div>
            <div class="col25">
                <span class="profile_info ui label">کارشناسی</span>
            </div>
            <div class="col3">
                <label class="profile_label">دانشگاه: </label>
            </div>
            <div class="col35">
                <span class="profile_info ui label">شریف</span>
            </div>
        </div>
        <div class="fj_space"></div>
        <div class="ui section divider fj_divider"></div>
        <div class="fj_row">
            <div class="col1">
                <label class="profile_label">نوع دانشگاه: </label>
            </div>
            <div class="col15">
                <span class="profile_info ui label">دولتی</span>
            </div>
            <div class="col2">
                <label class="profile_label">وضعیت: </label>
            </div>
            <div class="col25">
                <span class="profile_info ui label">دانشجو</span>
            </div>
        </div>
        <div class="fj_space"></div>
        <div class="ui section divider fj_divider"></div>
    </div>


    <div class="title skills">
        <i class="triangle left icon"></i>
        مهارت ها
        <a class="fj_link edit_profile_accordion">ویرایش</a>
    </div>
    <div class="content skills">
        <div class="fj_row">
            <div class="col1">
                <label class="profile_label">عنوان: </label>
            </div>
            <div class="col15">
                <span class="profile_info ui label">زبان انگلیسی</span>
            </div>
            <div class="col2">
                <label class="profile_label">سطح: </label>
            </div>
            <div class="col25">
                <span class="profile_info ui label">پیشرفته</span>
            </div>
            <div class="col3">
                <label class="profile_label">توضیح: </label>
            </div>
            <div class="col35">
                <span class="profile_info ui label">مدارک TOEFL و GRE</span>
            </div>
        </div>
        <div class="fj_space"></div>
        <div class="ui section divider fj_divider"></div>
        <div class="fj_row">
            <div class="col1">
                <label class="profile_label">عنوان: </label>
            </div>
            <div class="col15">
                <span class="profile_info ui label">دوره های مدیریت</span>
            </div>
            <div class="col2">
                <label class="profile_label">سطح آشنایی: </label>
            </div>
            <div class="col25">
                <span class="profile_info ui label">مقدماتی</span>
            </div>
            <div class="col3">
                <label class="profile_label">توضیح: </label>
            </div>
            <div class="col35">
                <span class="profile_info ui label">گذراندن دروس آنلاین</span>
            </div>
        </div>
        <div class="fj_space"></div>
        <div class="ui section divider fj_divider"></div>
    </div>


    <div class="title experience">
        <i class="triangle left icon"></i>
        سوابق کاری
        <a class="fj_link edit_profile_accordion">ویرایش</a>
    </div>
    <div class="content experience skills">
        <div class="fj_row">
            <div class="col1">
                <label class="profile_label">عنوان: </label>
            </div>
            <div class="col15">
                <span class="profile_info ui label">برنامه نویسی جاوا</span>
            </div>
            <div class="col2">
                <label class="profile_label">در: </label>
            </div>
            <div class="col25">
                <span class="profile_info ui label">شرکت عرش</span>
            </div>
            <div class="col3">
                <label class="profile_label">نوع همکاری: </label>
            </div>
            <div class="col35">
                <span class="profile_info ui label">پروژه</span>
            </div>
        </div>
        <div class="fj_space"></div>
        <div class="ui section divider fj_divider"></div>
        <div class="fj_row">
            <div class="col1">
                <label class="profile_label">عنوان: </label>
            </div>
            <div class="col15">
                <span class="profile_info ui label">شب کاری</span>
            </div>
            <div class="col2">
                <label class="profile_label">در: </label>
            </div>
            <div class="col25">
                <span class="profile_info ui label">دانشکده کامپیوتر</span>
            </div>
            <div class="col3">
                <label class="profile_label">نوع همکاری: </label>
            </div>
            <div class="col35">
                <span class="profile_info ui label">جنسی</span>
            </div>
        </div>
        <div class="fj_space"></div>
        <div class="ui section divider fj_divider"></div>
    </div>
    </div>
    </div>
    </div>
{% endblock %}