{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
    مشخص کردن گذرواژه ی جدید
        Setting New password
{% endblock %}


{% block css %}
    <link type="text/css" href="{% static 'css/Sina.css' %}" rel="stylesheet"/>
{% endblock %}

{% block content %}
    {% csrf_token %}
    <div class="center">
        <div class="ctn-box my-min-height my-font">
            {% if validlink %}
                <p>
                لطفا گذرواژه ی مورد نظر خود را دوبار وارد کنید، تا ما از درست وارد کردن آن توسط شما مطمئن شویم.
                </p>
{#                <p>Please enter your new password twice.<br/>#}
{#                    So we can verify you typed it in correctly.</p>#}
                <form action="" method="post">
                    <div style="display:none">
                        <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
                    </div>
                    <table>
                        <tr>
                            <td>{{ form.new_password1.errors }}
                                <label for="id_new_password1">گذرواژه ی جدید:</label></td>
                            <td>{{ form.new_password1 }}</td>
                        </tr>
                        <tr>
                            <td>{{ form.new_password2.errors }}
                                <label for="id_new_password2">تایید گذرواژه جدید:</label></td>
                            <td>{{ form.new_password2 }}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><input type="submit" value="تغییر گذرواژه"/></td>
                        </tr>
                    </table>
                </form>
            {% else %}
                <h1>تغییر گذرواژه ناموفق بود.</h1>
                <p>The password reset link was invalid, <br/>
                    possibly because it has already been used. <br/>
                    Please request a new password reset.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}