{% autoescape off %}
        شما این پست را دریافت کرده اید زیرا در سایت
    جاک ( جویندگان ارتباط کاری )
{#    {{ site_name }}#}
    تقاضای تغییر رمز عبور خود را داده اید.

    لطفا برای این کار به آدرس زیر رفته و گذرواژه ی جدید خود را انتخاب کنید:
    {% block reset_link %}
{#        {{ protocol }}://{{ domain }}{% url django.contrib.auth.views.password_reset_confirm uidb36=uid, token=token %}#}

{#        {{ SITE_URL }}{% url 'password_reset_confirm' uidb64=uid token=token%}#}
{#        http://localhost:8002/{% url 'password_reset_confirm' uidb64=uid token=token%}#}
        {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token  %}
    {% endblock %}

    نام کاربری شما، در صورتی که فراموش کرده اید:
{{ user.username }}

    از شما برای انتخاب سایت ما بسیار سپاسگزاریم.

    از طرف گروه سامانه پروران شریف

{% endautoescape %}