body {
    color: #333;
    font-size: 13px;
}

.advanced_search {
    margin-right: 10px;
    cursor: pointer;

}

.advanced_search_panel.ui.segment {
    background-color: #EFEFEF;
}

.article-header {
    padding-right: 10px;
}

.advanced_search:hover {
    /*alaki*/
    color: blue;
}

.advanced_search_panel input[type='number'] {
    width: 143px !important;
}

.advanced_search_panel.ui.segment.form {
    margin-top: 20px;
}

.advanced_search_panel {
    font-size: .875em !important;
    margin-top: 10px;
    padding: 15px 10px 10px 10px;
    height: auto;
    background-color: #ACD9B0;
    /*width: 600px;*/

}

.advanced_search_panel .container .advanced_search_form {
    /*display: inline-block;*/
    /*width: 48%;*/
}

.advanced_search_info {
    display: inline-block;
    width: 48%;
    left: 50%;

}

.advanced_search_panel .search_buttons {
    direction: ltr;
    float:left;
}

.advanced_search_panel .search_buttons input {
    width: 100px;
    height: 34px;
    padding-top: 8px !important;
}

.advanced_search_panel .search_buttons input[type='submit'], .news_item .more_buttons .blue {
    background-color: #108edc !important;
    color: white !important;
}

.input_labels {
    width: 70px !important;
}

.news_list {
    margin-top: 20px;
}

.news_list h2 {
    margin-bottom: 20px;
}

.news_list p {
    text-indent: 20px;
}

.news_content {
    padding: 5px 10px;
    color: #444A49;
    text-align: justify;
    margin: 0 0px 10px 0;
    padding-bottom: 80px;
}

.news_item img {
    /*border: 1px solid #333;*/
    float: right;
    margin: 10px 0 0 10px;
    width: 120px;
    height: 120px;
}

.news_item .news_other .date_rate {
    color: #7A8784;
    position: absolute;
    bottom: 15px;
    padding-left: 2px;
    width: 100%;
}

.news_item .more_buttons {
    position: absolute;
    left: 0px;
    bottom: 0px;
    margin: 10px;
}

.light_margined {
    margin: -5px 0px 5px 0 !important;
}

.authors {

    position: absolute;
    bottom: 50px;
    right: 45px;
}

.tags {
    position: absolute;
    right: 260px;
    bottom: 15px;
}

.authors-label {
    float: right;
    margin-left: 5px;
}

.news_item.ui.raised.segment {
    min-height: 210px;
}

.user_buttons {
    position: absolute;
    width: 200px;
    margin: 10px;
    direction: ltr;
    left: 0;
    top: 0;
}

/*.news_list .more_buttons {*/
/*position: absolute;*/
/*width: 200px;*/
/*margin: 10px;*/
/*direction: ltr;*/
/*left: 0;*/
/*top: 0;*/
/*}*/

.user_buttons .button {
    margin-top: 5px;
}

.user_list .user_number {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: solid 1px;
    vertical-align: top;
    box-shadow: 0 0 4px black;
    text-align: center;
    line-height: 30px;
    background: black;
    color: white;
    font-size: 18px;
    margin-left: 10px;
    -webkit-user-select: none;
    cursor: default;
}

.news_list > .news_item.ui.raised.segment:nth-child(4n+3) {
    background-color: #EFEFEF;
}

.news_list > .news_item.ui.raised.segment:nth-child(4n+1) {
    background-color: #e3e3e3;
}

.user_list .single_user:nth-child(4n+3) {
    background-color: #EFEFEF;
}

.user_list .single_user:nth-child(4n+1) {
    background-color: #e3e3e3;
}

.user_list .single_user {
    min-height: 104px;
    padding-bottom: 0.7em !important;
    margin-top: 10px !important;
}

.user_list .single_question:nth-child(4n+3) {
    background-color: #EFEFEF;
}

.user_list .single_question:nth-child(4n+1) {
    background-color: #e3e3e3;
}

.user_list .single_question {
    min-height: 55px;
    padding-bottom: 0.7em !important;
    margin-top: 10px !important;
}

.user_list .single_user:hover .user_buttons, .user_list .single_user:hover .user-buttons {
    opacity: 1;
}

.user_list .single_user .user_buttons, .user_list .single_user .user-buttons{
    opacity: 0;
    transition: opacity 500ms;
    -webkit-transition: opacity 500ms;
}

.user_list .single_question:hover .user_buttons {
    opacity: 1;
}

.user_list .single_question .user_buttons {
    opacity: 0;
    transition: opacity 500ms;
    -webkit-transition: opacity 500ms;
}

.user_list .single_user .user_buttons .button {
    width: 140px !important;
}

.question_button {
    margin: 5px 8px;
}

.inlineblock {
    display: inline-block;
}

.user_list .user_info2 {
    margin-top: 17px;
}

.user_list .user_data {
    vertical-align: top;
    margin: 12px;
}

.user_list .question_data {
    vertical-align: top;
    margin: 0px 12px;
}

.user_list img {
    width: 80px;
    height: 80px;
    /*-webkit-box-shadow: 0 8px 6px -6px black;*/
    /*-moz-box-shadow: 0 8px 6px -6px black;*/
    /*box-shadow: 0 8px 6px -6px black;*/
    /*border-radius: 5px;*/
}

.inlinemiddle, img {
    vertical-align: middle !important;

}

.user_list .user_info1 > span {
    margin-left: 20px;

    font-size: 16px;
    font-weight: bold;
    display: inline-block;
}

.user_list .question_info1 > span {
    margin-left: 10px;
    font-size: 16px;
    font-weight: bold;
}

.user_list .user_info1 > span:first-child {
    width: 200px;
}

.user_list .user_info1 > span:nth-child(2) {
    width: 320px;
}

.user_list .user_info2 > span {
    margin-left: -80px;
    font-size: 12px;
    margin-top: 13px;
    display: inline-block;
    width: 80px;
    float: left;
}

.user_list .user_info2 > span:first-child {
    width: 100px;
}

.user_list .user_info2 > span:nth-child(2) {
    width: 100px;
}

.user_list .user_info2 > span:nth-child(3) {
    width: 150px;
}

.pagination.menu {
    margin-top: 15px !important;
    /*position: absolute;*/
}

/*.news_item .ui.small.label.authors-name{*/
/*background-color: #83be71;*/
/*color: white !important;*/
/*}*/

/*yadet bashe span > first haro dorost koni*/

/*.user_list .user_info1 .question_title {*/
/*width: 400px !important;*/
/*}*/

.user_list .user_info2 .question_asker {
    width: 150px !important;
    font-size: 12px;
    margin-bottom: 10px;
}

.user_list .user_info2 .question_date {
    width: 150px !important;
}

.user_list .user_info2 .question_replier {
    width: 200px !important;
    margin-left: 215px;
}

.not_visible {
    visibility: hidden;
}

.answer_box {
    width: 80%;
}

.javab_box textarea {
    margin-top: 10px !important;
}

.ui.accordion {
    margin-top: 10px;
    margin-bottom: 10px;
}

.accordion_segment {
    background-color: wheat !important;
}

.question_buttons {
    position: absolute;
    left: 0px;
    bottom: 0px;
    margin: 10px;
}

.accordion .content {
    padding: 1em 1em !important;
}

.question_number {
    font-size: 16px;
    font-weight: bold;
}

.mngr_question_date {
    width: 200px !important;
    position: absolute;
    top: 20px;
    left: 20px;
}

.tabular.menu {
    margin-top: 10px !important;
    border: none !important;
}

.display_none {
    display: none;
}

.fj_green {
    background-color: #C7D3B3 !important;
}

.faq_list {
    background-color: #C7D3B3 !important;
}

.faq_add .form.segment {
    background-color: #C7D3B3 !important;
}

.advanced_search_form select{
    font-family: BYekan;
    font-size: 12px;
    height: 30px;
    background-color: white;
    border: #dddddd solid 1px;
    border-radius: 3px;
    color: grey;
    width: 142px;
}

.javab_box{
    background-color: #909578 !important;
}