{% extends 'base.html' %}
{% load staticfiles %}
{% load account_tags %}

{% block title %}
    جاک | مقالات
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/FJ.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/help.css' %}"/>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static 'js/rf.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/help.js' %}"></script>
    <script>
        function mySina(){
            x = $("#submit_button")[0];
            x.click();
        }
    </script>
{% endblock %}

{% block content %}
    <!-- rezaFJ-->
    <div class="center">
        <div class="ctn-box">
        <form>
            <div class="ui icon input left small">
                {{ search_form.both }}
                <i class="inverted search icon" onclick="mySina();" style="cursor: pointer"></i>
            </div>

            <small class="advanced_search">جستجوی پیشرفته</small>

            <label style="display: inline-block">

                <i class="tiny help icon" id="help_icon" help-id="0" style="cursor: pointer"></i>

                <div id="msg_div0" class="Sina_help Sina_help_news " help-id="0" style="margin-top: -25px;">
                    {{ search_form.both.help_text }}
                </div>
            </label>


            <div class="advanced_search_panel ui segment blue form">
                <div class="container">
                    <div class="advanced_search_form">
                        <form>
{#                            <div class="two fields">#}
{#                                <span class="inline field">#}
{#                                <label class="input_labels">تا تاریخ: </label><input type="date" name="secon_date">#}
{#                                </span>#}
{#                                <span class="inline field">#}
{#                                <label class="input_labels">از تاریخ: </label><input type="date" name="first_date">#}
{#								</span>#}
{##}
{#                            </div>#}
                            <div class="inline field">
                                <label class="input_labels">در عنوان: </label>{{ search_form.title }}
                                <label style="display: inline-block">

                                    <i class="tiny help icon" id="help_icon" help-id="10" style="cursor: pointer"></i>

                                    <div id="msg_div10" class="Sina_help Sina_help_news "
                                         style="margin-top: -26px;">
                                        {{ search_form.title.help_text }}
                                    </div>
                                </label>
                            </div>

                            <div class="inline field">
                                <label class="input_labels">در خلاصه: </label>{{ search_form.summary }}
                                <label style="display: inline-block">

                                    <i class="tiny help icon" id="help_icon" help-id="12" style="cursor: pointer"></i>

                                    <div id="msg_div12" class="Sina_help Sina_help_news "
                                         style="margin-top: -26px;">
                                        {{ search_form.summary.help_text }}
                                    </div>
                                </label>
                            </div>

                            <div class="inline field">
                                <label class="input_labels">حداقل بارگیری: </label>{{ search_form.dl_count }}
                                <label style="display: inline-block">

                                    <i class="tiny help icon" id="help_icon" help-id="2" style="cursor: pointer"></i>

                                    <div id="msg_div2" class="Sina_help Sina_help_news "
                                         style="margin-top: -26px;">
                                        {{ search_form.dl_count.help_text }}
                                    </div>
                                </label>
                            </div>
                            <div class="inline field">
                                <label class="input_labels">نام نویسنده: </label>{{ search_form.author }}
                                <label style="display: inline-block">

                                    <i class="tiny help icon" id="help_icon" help-id="3" style="cursor: pointer"></i>

                                    <div id="msg_div3" class="Sina_help Sina_help_news "
                                         style="margin-top: -26px;">
                                        {{ search_form.author.help_text }}
                                    </div>
                                </label>
                            </div>
                            <div class="inline field">
                                <label class="input_labels">برچسب: </label>{{ search_form.tag }}
                                <label style="display: inline-block">

                                    <i class="tiny help icon" id="help_icon" help-id="4" style="cursor: pointer"></i>

                                    <div id="msg_div4" class="Sina_help Sina_help_news "
                                         style="margin-top: -26px;">
                                        {{ search_form.tag.help_text }}
                                    </div>
                                </label>
                            </div>

                            <div class="search_buttons">
                                <input class="inline ui button" type="reset" value="پاک کردن">
                                <input class="inline ui button" type="submit" value="جستجو">
                            </div>
                        </form>
                    </div>
                    <div class="ui vertical divider"></div>
                    <div class="advanced_search_info">
                        <!-- <h3>برای جستجوی پیشرفته،اینجا را پر کنید.</h3> -->

                    </div>
                </div>
            </div>
            </form>
            <div class="news_list">
                {% if articles %}
                    {% for item in articles %}
                        <div class="news_item ui raised segment">
                            <h2 class="article-header">{{ item.title }}</h2>

                            <div class="ui section divider light_margined"></div>
                            <div class="news_content" style="position: relative;">
                                <p>
                                {{ item.summary }}
                                </p>
                            </div>
                            <div class="news_other">
                                <div class="authors">
                                    <span class="authors-label">نویسندگان:</span>
                                    {% for author in item.authors.all %}
                                        <a class="ui small black label authors-name">{{ author.full_name }}</a>
                                    {% endfor %}
                                </div>
                                <div class="date_rate">
                                    <small>{{ item.publish_date }}</small>
                            <span class="ui rating">
                            <i class="icon"></i>
                            <i class="icon"></i>
                            <i class="icon"></i>
                            <i class="icon"></i>
                            <i class="icon"></i>
                            </span>
                                </div>
                                <div class="tags">
                                    <label>برچسب ها:</label>
                                    {% for tag in item.tags.all %}
                                        <a class="ui black small label">
                                            {{ tag.name }}
                                        </a>
                                    {% endfor %}
                                </div>
                                <div class="more_buttons">
                                    {%  get_user_type as u_type %}
                                    {% if u_type == 'manager' %}
                                        <div class="ui icon small red button article" dir="ltr">
                                            <i class="remove icon"></i>
                                            حذف
                                        </div>
                                    {% endif %}
                                    <div class="ui icon small blue button dl_a" id="a{{ item.pk }}" dir="ltr">
                                        <i class="download disk icon"></i>
                                        بارگذاری
                                    </div>
                                    <a href="{% url 'show_article_description' %}/?pk={{ item.pk }}" dir="ltr">
                                        <div class="ui animated button  small">
                                            <div class="visible content">
                                                بیشتر
                                            </div>
                                            <div class="hidden content"><i class="left arrow icon"></i></div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="ui section divider"
                             style="margin-top:1rem !important;margin-bottom:1rem !important"></div>
                    {% endfor %}
                {% else %}
                    <div class="ui error message">مقاله‌ای وجود ندارد</div>
                {% endif %}
            </div>

            {% if articles.paginator.num_pages > 1 %}
                <div style="text-align: center;">
                    <div class="ui small pagination menu">
                        {% if articles.has_previous %}
                            <a href="?{{ get_params.urlencode }}&page={{ articles.previous_page_number }}"
                               class="icon item"><i class="icon right arrow"></i></a>
                        {% endif %}

                        {% for p in page_range %}
                            {% ifequal p articles.number %}
                                <a href="javascript:void(0);" class="active item">{{ p }}</a>
                            {% else %}
                                <a class="item" href="?{{ get_params.urlencode }}&page={{ p }}"> {{ p }}</a>
                            {% endifequal %}
                        {% endfor %}
                        {% if articles.has_next %}
                            <a class="item" href="?{{ get_params.urlencode }}&page={{ articles.next_page_number }}"
                               class="icon item"><i class="icon left arrow"></i></a>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
    <!-- reza.fj & rf-->
{% endblock %}
