{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}

    جاک | اضافه کردن خبر

{% endblock %}



{% block css %}
    <link href="{% static 'css/news_description.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block page_title %}
    اضافه کردن خبر
{% endblock %}

{% block js %}
{#    <script type="text/javascript" src="../../static/js/jquery.form.js"></script>#}
    <script type="text/javascript" src="../../static/js/Sina_add_news.js"></script>

{% endblock %}


{% block content %}

    {% csrf_token %}
    <div class="center">
        <div class="ctn-box">
            <div class="ui celled grid">

                <div class="row">

                    <div class="ui nine wide  column ">

                        <form class="ui fluid form  right_alignment" style="width: 855px;" method="POST"
                              enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="field">
                                <label class="right_alignment" style="display: inline-block; width: 100px">
                                    عنوان خبر:
                                </label>

                                <div style="width: 660px; display: inline-block">
                                    {{ form.title }}
                                </div>
                                {{ form.title.errors }}
                                {#                                <input placeholder="عنوان خبر" type="text" id="news_title"#}
                                {#                                       style="display: inline-block ; width: 600px" name="title"> {{ title.News }}#}
                            </div>

                            <div class="field right_alignment">
                                <label style="display: inline-block; width: 100px">شرح خبر</label>

                                <div style="width: 660px; display: inline-block">
                                    {{ form.content }}
                                </div>
                                {#                                <textarea placeholder="شرح خبر" id="news_des" name="content"#}
                                {#                                          style="display: inline-block; width: 600px"> {{ content.News }}</textarea>#}
                                {{ form.content.errors }}
                            </div>

                            <div style=" margin-right: 106px; display: block" id="image_place">
                                {#                                <img class="ui medium image make-pointer news_image" id="upImage"#}
                                {#                                     src="../../static/images/pic-before-load.gif" alt="" style="display: block">#}
{#                                <div class="ui medium image make-pointer news_image"#}
{#                                     style="background-image:url('../../static/images/pic-before-load.gif')  ;width: 220px;height: 220px;display: block"#}
{#                                     id="files" class="files"></div>#}

{#                                <canvas id="files" width="800" height="400" style="background-image:url('../../static/images/pic-before-load.gif')  ;width: 220px;height: 220px;display: block;cursor: pointer">#}
{#                                        Canvas not supported.#}
{#                                </canvas>#}

                                <canvas id="files" style="width: 220px;height: 220px; ;display: block;cursor: pointer">
                                        Canvas not supported.
                                </canvas>
                            </div>
                            {#                                                        <form id="sinaForm" enctype="multipart/form-data">#}
                            {#                            <input type="file" id="news_image" onchange="submit_news_pic()"#}
                            {#                                   hidden="true"style="display: none;" name="image">#}
                            {#                            #}
                            <input type="file" id="news_image"
                                   hidden="true" style="display: none;" name="image">
                            {#                                                        </form>#}
                            <div class="field " style="margin-right: 105px; ">
                                <input type="submit" value="افزودن خبر" class="ui button linkedin small"
                                       style="margin-top: 20px">
                            </div>
                        </form>
                    </div>
                    {
                </div>
            </div>
        </div>
    </div>

{% endblock %}