{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}

    جاک | اضافه کردن خبر

{% endblock %}



{% block css %}
    <link href="../../static/css/news_description.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block page_title %}
    اضافه کردن خبر
{% endblock %}

{% block js %}
    <script type="text/javascript" src="../../static/js/jquery.form.js"></script>
    <script type="text/javascript" src="../../static/js/Sina_add_news.js"></script>

{% endblock %}


{% block content %}

    {% csrf_token %}
    <div class="center">
        <div class="ctn-box">
            <div class="ui celled grid">

                <div class="row ">

                    <div class="ui nine wide  column ">

                        <form class="ui fluid form  right_alignment" style="width: 855px;" method="POST">
                            {% csrf_token %}
                            <div class="field">
                                <label class="right_alignment" style="display: inline-block; width: 100px">
                                    عنوان خبر:
                                </label>

                                {{ form.title }}
                                {{ form.title.errors }}
{#                                <input placeholder="عنوان خبر" type="text" id="news_title"#}
{#                                       style="display: inline-block ; width: 600px" name="title"> {{ title.News }}#}
                            </div>

                            <div class="field right_alignment">
                                <label style="display: inline-block; width: 100px">شرح خبر</label>
                                {{ form.content }}
{#                                <textarea placeholder="شرح خبر" id="news_des" name="content"#}
{#                                          style="display: inline-block; width: 600px"> {{ content.News }}</textarea>#}
                                {{ form.content.errors }}
                            </div>

                            <img class="ui medium image make-pointer news_image" id="upfile1"
                                 src="../../static/images/pic-before-load.gif" alt="" style="display: block">

                            {#                            <form id="sinaForm" enctype="multipart/form-data">#}
                            <input name="image" type="image" id="news_image" onchange="submit_news_pic()"
                                   hidden="true" name="image">
                            {#                            </form>#}

                            <input type="submit" value="افزودن خبر" class="ui button linkedin small">
                        </form>
                    </div>
                    {
                </div>
            </div>
        </div>
    </div>

{% endblock %}