{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}

    جاک | مشروح اخبار

{% endblock %}

{% block js %}

    <script type="text/javascript">
        $(document).ready(function () {

        });

    </script>

{% endblock %}

{% block css %}
    <link href="{% static 'css/news_description.css' %}" rel="stylesheet" type="text/css">
    <style type="text/css">
        .news-content {
            font: 15px/30px "BYekan", tahoma;
            color: #555;
        }
    </style>
{% endblock %}

{% block page_title %}
    مشروح خبر
{% endblock %}


{% block content %}

    <div class="center">

        <div class="ctn-box">
            <div class="celled grid">
                <div class="row ">
                    <div class="ui sixteen column wide ">
                        <div class="ui attached message">
                            <div class="ui header ">
                                <div class="my_title">
                                    {{ news.title }}
                                </div>
                            </div>

                        </div>
                        <div class="ui attached fluid segment ">
                            <img src="{{ news.image.thumbnail.url|default:'/static/images/news.gif' }}" class="news_image">

                            <p dir="rtl" class="news-content">
                                {{ news.content }}
                            </p>
                        </div>

                        <div class="ui bottom form attached info message">
                            <div class="two fields">
                                <div class="field my_date date">
                                    {{ news.get_persian_date }}
                                </div>

                                <div class="field">

                                    <div class="ui positive button icon small" id="like">
                                        <i class="thumbs up icon "></i>

                                        <i >
                                            {{ news.likes }}&nbsp
                                        </i>
                                    </div>


                                    <div class="ui negative button icon small" id="dislike">
                                        <i class="thumbs down icon"></i>

                                        <i>
                                            {{ news.dislikes }}&nbsp
                                        </i>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row  ">
                        <div class="ui sixteen column wide segment">
                            <h3 class="ui header">
                                <i class="icon inverted circular blue comment"></i> نظرات
                            </h3>

                            <div class="ui comments  ">
                                <div class="ui fitted divider"></div>
                                {% for item in comments %}
                                    <div class="comment">
                                        <a class="avatar float_right">
                                            <img src="{% static 'images/jobseeker.png' %}">
                                        </a>

                                        <div class="content">
                                            <a class="author">{{ item.user.get_full_name }}</a>

                                            <div class="metadata">
                                                <div class="date">{{ item.get_persian_date }}</div>
                                            </div>
                                            <div class="text">
                                                {{ item.content }}
                                            </div>

                                        </div>
                                    </div>
                                    <div class="ui fitted divider"></div>
                                {% endfor %}
                                <form class="ui reply form">
                                    <div class="field">
                                        <textarea></textarea>
                                    </div>
                                    <div class="ui button teal submit labeled icon">
                                        <i class="icon edit"></i> ارسال نظر
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clr"></div>
    </div>


{% endblock %}