{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}

    جاک | خبرها

{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="FJ.css"/>
{% endblock %}

{% block js %}
<script type="text/javascript" src="rf.js"></script>
{% endblock %}

{% block content %}
    <!-- rf & reza.fj-->
    <div class="ui icon input left small">
        <input type="text" placeholder="جستجو...">
        <i class="inverted search icon"></i>
    </div>

    <small class="advanced_search">جستجوی پیشرفته</small>

    <div class="advanced_search_panel ui segment form">
        <div class="container">
            <div class="advanced_search_form">
                <form>
                    <div class="two fields">
                                <span class="inline field">
                                <label class="input_labels">از تاریخ: </label><input type="date"
                                                                                     name="first_date"></span>
                                <span class="inline field">
                                <label class="input_labels">تا تاریخ: </label><input type="date" name="secon_date">
                                </span>
                    </div>
                    <div class="inline field">
                        <label class="input_labels">حداقل امتیاز: </label><input type="number" name="min_rate"
                                                                                 placeholder="از ۵">
                    </div>
                    <div class="inline field">
                        <label class="input_labels">حداقل بارگیری: </label><input type="number" name="downloads"
                                                                                  placeholder="0 بار">
                    </div>
                    <div class="search_buttons">
                        <input class="inline ui button" type="reset" value="پاک کردن">
                        <input class="inline ui button" type="submit" value="جستجو">
                    </div>
                </form>
            </div>
            <div class="ui vertical divider"></div>
            <div class="advanced_search_info">
                <!-- <h3>برای جستجوی پیشرفته،اینجا را پر کنید.</h3> -->

            </div>
        </div>
    </div>

    <div class="news_list">
        {% for item in news %}
            <div class="news_item ui raised segment">
                <img src="{{ item.image.image.url }}"/>
                <h2>{{ item.title }}</h2>

                <div class="ui section divider light_margined"></div>
                <div class="news_content">
                    <p>
                        {{ item.content }}
                    </p>
                </div>
                <div class="news_other">
                    <div class="authors">
                        <span class="authors-label">نویسنده:</span>
                        <a class="ui small label authors-name">{{ item.author.get_full_name }}</a>
                    </div>
                    <div class="date_rate">
                        <small>{{ item.get_persian_date }}</small>
                            <span class="ui rating">
                            <i class="icon"></i>
                            <i class="icon"></i>
                            <i class="icon"></i>
                            <i class="icon"></i>
                            <i class="icon"></i>
                            </span>
                    </div>

                    <div class="more_buttons">
                        <div class="ui animated button  small">
                            <div class="visible content"><a href="{% url 'show_news_description' %}?pk={{ item.pk }}"></a></div>
                            <div class="hidden content"><i class="left arrow icon"></i></div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="ui section divider" style="margin-top:1rem !important;margin-bottom:1rem !important"></div>
        {% endfor %}
    </div>
    <!-- <div class="ui segment"> -->
    <div class="ui pagination menu" style="width:100%;text-align:center;margin-top:10px;">
        <a class="disabled icon item">
            <i class="icon right arrow"></i>
        </a>
        <a class="active item">
            1
        </a>
        <a class="item">
            2
        </a>

        <div class="disabled item">
            ...
        </div>
        <a class="item">
            11
        </a>
        <a class="item">
            12
        </a>
        <a class="icon item">
            <i class="icon left arrow"></i>
        </a>

    </div>
    <!-- </div> -->

    <!-- reza.fj & rf-->
{% endblock %}
