{% extends 'base.html' %}
{% load account_tags %}
{% block title %}
    جاک‌ | ارسال درخواست

{% endblock %}

{% block css %}
    <style>
        .input-details, .add-request-label {
            font: 13px/15px 'BYekan' !important;
            color: #333 !important;

        }

        .add-request-label {
            position: absolute;
        }

        .add-request-label.sender {
            right: 2em;
            top: 2em;
        }

        span.label.sender {
            position: absolute;
            top: 1.6em;
            right: 5.6em;
        }

        input {
            margin-top: 10px !important;
        }

        span.label.receiver {
            position: absolute;
            top: 5.7em;
            right: 5.5em;
        }

        .add-request-label.receiver {
            right: 2em;
            top: 6em;
        }

        .add-request-label.time-stamp {
            right: 58em;
            top: 2em;
        }

        .rf-clear {
            clear: both;
            margin: 0.5em 0 0.5em 0;
        }

        .add-request-form {
            margin: 8em 1em;
        }
    </style>
{% endblock %}


{% block content %}
    <div class="center">
        <div class="ctn-box" style="position: relative;">
        <span class="add-request-label sender">
        فرستنده:
        </span>

            {% get_user_type as u_type %}

       <span class="ui label black sender">
           {% if u_type == 'employer' %}
               {{ user.cast.profile.company_name }}
           {% else %}
               {{ user.get_full_name }}
           {% endif %}
       </span>

       <span class="add-request-label time-stamp ui label">
           {% get_current_pdate %}
       </span>

            <div class="rf-clear"></div>
            <form method="post" class='add-request-form ui form'>
                {% csrf_token %}

                <input type="hidden" value="{{ req_type }}" name="req_type">
                <input type="hidden" value="{{ pp_pk }}" name="pp_pk">

                {% if req_type == 'jOpp' %}

                    <div class="field" style="margin-top: -80px;">
                        <div class="ui input">
                            <label class="input-details">{{ form.cooperation_type.label_tag }}: </label>
                            {{ form.cooperation_type }}
                        </div>
                        {% if form.cooperation_type.errors %}
                            <div class="ui red pointing prompt label transition visible">{{ form.cooperation_type.errors.0 }}</div>
                        {% endif %}
                    </div>

                {% endif %}

                <div class="field">
                    <div class="ui input">
                        <label class="input-details">{{ form.title.label_tag }}: </label>
                        {{ form.title }}
                    </div>
                    {% if form.title.errors %}
                        <div class="ui red pointing prompt label transition visible">{{ form.title.errors.0 }}</div>
                    {% endif %}
                </div>

                {% if req_type == 'jOpp' %}

                    <div class="field">
                        <div class="ui input">
                            <label class="input-details">{{ form.first_major.label_tag }}: </label>
                            {{ form.first_major }}
                        </div>
                        {% if form.first_major.errors %}
                            <div class="ui red pointing prompt label transition visible">{{ form.title.errors.0 }}</div>
                        {% endif %}
                    </div>


                    <div class="field">
                        <div class="ui input">
                            <label class="input-details">{{ form.second_major.label_tag }}: </label>
                            {{ form.second_major }}
                        </div>
                        {% if form.second_major.errors %}
                            <div class="ui red pointing promt label transition visible">{{ form.second_major.errors.0 }}</div>
                        {% endif %}
                    </div>

                    <div class="field">
                        <div class="ui input">
                            <label class="input-details">{{ form.certificate.label_tag }}: </label>
                            {{ form.certificate }}
                        </div>
                        {% if form.certificate.errors %}
                            <div class="ui red pointing promt label transition visible">{{ form.certificate.errors.0 }}</div>
                        {% endif %}
                    </div>

                    <div class="field">
                        <div class="ui input">
                            <label class="input-details">{{ form.sex.label_tag }}: </label>
                            {{ form.sex }}
                        </div>
                        {% if form.sex.errors %}
                            <div class="ui red pointing promt label transition visible">{{ form.sex.errors.0 }}</div>
                        {% endif %}
                    </div>

                {% endif %}

                <div class="field">
                    <label class="input-details">{{ form.content.label_tag }}:</label>
                    {{ form.content }}

                    {% if form.content.errors %}
                        <div class="ui red pointing promt label transition visible">{{ form.content.errors.0 }}</div>
                    {% endif %}
                </div>

                <input class="inline ui button green" type="submit" style="float:left" value="ارسال درخواست"/>

            </form>


        </div>
    </div>

{% endblock %}