{% extends 'base.html' %}
{% load staticfiles %}
{% load request_tags %}

{% block title %}

    جاک | کارتابل

{% endblock %}



{% block page_title %}
    کارتابل
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static 'js/requests.js' %}"></script>
{% endblock %}

{% block css %}

    <style>
        .my-right {
            text-align: center !important;
        }

        .my-font {
            font: 14px/25px "BYekan", tahoma !important;
        }

        td {
            text-align: center !important;
        }

        .my-min-height {
            min-height: 700px;
        }

    </style>
{% endblock %}

{% block content %}
    {% csrf_token %}
    <div class="center">
        <div class="ctn-box my-min-height">
            <div class="ui center aligned">
                <table class="ui eight column table segment collapsing  my-font" style="width: 880px">
                    <thead>
                    <tr>
                        <th class="my-right one wide"> ردیف</th>

                        <th class="my-right">فرستنده</th>
                        <th class="my-right">گیرنده</th>
                        <th class="my-right">نوع درخواست</th>
                        <th class="my-right five wide">عنوان درخواست</th>
                        <th class="my-right"> وضعیت</th>
                        <th class="my-right"> تاریخ</th>
                        <th class="my-right">مشاهده</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in threads %}
                        <tr>
                            <td class="one wide">{{ forloop.counter }}</td>
                            <td>{% get_request_sender item.request item.type item.response %}</td>
                            <td>{% get_request_receiver item.request item.type item.response %}</td>
                            <td>{% get_request_type item.type %}</td>
                            <td class="five wide">{{ item.request.title }}</td>
                            <td class="{% get_alert_info item.request %}">{% get_request_status item.request %}</td>

                            <td>{% get_persian_date item.request.timestamp.date %}</td>
                            <td>
                                <div class="ui button small teal view-details" data-req="{{ item.request.pk }}"
                                     data-user="{{ item.response.thread.responder.pk }}">مشاهده
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>


            <div class="result-pagination ">
                <ul>
                    <li><a href="javascript:void(0);" class="page-indicator active" data-page="1">1</a></li>
                    <li><a href="javascript:void(0);" class="page-indicator ^" data-page="2">2</a></li>
                    <li><a href="javascript:void(0);" class="page-indicator ^" data-page="3">3</a></li>
                    <li><a href="javascript:void(0);" class="page-indicator ^" data-page="4">4</a></li>
                </ul>
            </div>


        </div>
    </div>
{% endblock %}