{% extends 'base.html' %}
{% load staticfiles %}
{% load request_tags %}

{% block title %}

    جاک | کارتابل

{% endblock %}


{% block js %}
    <script type="text/javascript" src="{% static 'js/requests.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/rf.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/help.js' %}"></script>
    <script>

        function mySina() {
            x = $("#submit_button")[0];
            x.click();
        }

    </script>
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/FJ.css' %}"/>
    <link href="{% static 'css/help.css' %}" rel="stylesheet" type="text/css">
    <style type="text/css">
        .author-link {
            color: #777;
        }

        .author-link:hover {
            color: #178edc;
        }
    </style>
    <style>
        .my-right {
            text-align: center !important;
        }

        .my-font {
            font: 14px/25px "BYekan", tahoma !important;
        }

        td {
            text-align: center !important;
        }

        .my-min-height {
            min-height: 700px;
        }

    </style>
{% endblock %}

{% block content %}
    {% csrf_token %}
    <div class="center">
        <div class="ctn-box my-min-height">
            <form>

                <div class="ui icon input left small" style="margin-bottom:10px ">


                    <div style="width: 180px; display: inline-block">
                        {{ search_form.total_search }}

                    </div>
                    <i class="inverted search icon" onclick="mySina()" style="cursor: pointer"></i>


                </div>
                <small class="advanced_search">جستجوی پیشرفته</small>

                <label style="display: inline-block">

                    <i class="tiny help icon" id="help_icon" help-id="0" style="cursor: pointer"></i>

                    <div id="msg_div0" class="Sina_help Sina_help_news " help-id="0" style="margin-top: -16px;">
                        {{ search_form.content.help_text }}
                    </div>
                </label>


                <div class="advanced_search_panel ui segment form">
                    <div class="container">
                        <div class="advanced_search_form">

                            <div class="inline field">
                                <label class="input_labels"> عنوان</label>
                                {{ search_form.title }}

                                <label style="display: inline-block">

                                    <i class="tiny help icon" id="help_icon" help-id="1" style="cursor: pointer"></i>

                                    <div id="msg_div1" class="Sina_help Sina_help_news "
                                         style="margin-top: -26px;">
                                        {{ search_form.title.help_text }}
                                    </div>
                                </label>

                            </div>


                            <div class="inline field">
                                <label class="input_labels"> نام سازمان</label>
                                {{ search_form.employer }}

                                <label style="display: inline-block">

                                    <i class="tiny help icon" id="help_icon" help-id="1" style="cursor: pointer"></i>

                                    <div id="msg_div1" class="Sina_help Sina_help_news "
                                         style="margin-top: -26px;">
                                        {{ search_form.employer.help_text }}
                                    </div>
                                </label>

                            </div>
                            {#                            <div class="two fields">#}
                            {#                                <span class="inline field">#}
                            {#                                <label class="input_labels">از تاریخ: </label><input type="date"#}
                            {#                                                                                     name="first_date"></span>#}
                            {#                                <span class="inline field">#}
                            {#                                <label class="input_labels">تا تاریخ: </label>#}
                            {#                                    {{ search_form.min_sco }}#}
                            {#                                    <input type="date" name="second_date">#}
                            {#                                </span>#}
                            {#                            </div>#}
                            <div class="inline field">
                                <label class="input_labels">{{ search_form.cooperation_type.label }}</label>
                                {{ search_form.cooperation_type }}
                            </div>
                            <div class="inline field">
                                <label class="input_labels">{{ search_form.status.label }}</label>
                                {{ search_form.status }}
                            </div>


                            <div class="search_buttons">
                                <input class="inline ui button" type="reset" value="پاک کردن">
                                <input class="inline ui button" type="submit" id="submit_button" value="جستجو">
                            </div>

                        </div>
                        {#                        <div class="ui vertical divider"></div>#}
                        <div class="advanced_search_info">
                            <!-- <h3>برای جستجوی پیشرفته،اینجا را پر کنید.</h3> -->

                        </div>
                    </div>
                </div>
            </form>

            <div class="ui center aligned">
                <table class="ui eight column table segment collapsing  my-font" style="width: 880px">
                    <thead>
                    <tr>
                        <th class="my-right one wide"> ردیف</th>

                        <th class="my-right">فرستنده</th>
                        <th class="my-right">گیرنده</th>
                        <th class="my-right">نوع درخواست</th>
                        <th class="my-right five wide">عنوان درخواست</th>
                        <th class="my-right"> وضعیت</th>
                        <th class="my-right"> تاریخ</th>
                        <th class="my-right">مشاهده</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in threads %}
                        <tr>
                            <td class="one wide">{{ forloop.counter }}</td>
                            <td>{% get_request_sender item.request item.type item.response %}</td>
                            <td>{% get_request_receiver item.request item.type item.response %}</td>
                            <td>{% get_request_type item.type %}</td>
                            <td class="five wide">{{ item.request.title }}</td>
                            <td class="{% get_alert_info item.request %}">{% get_request_status item.request %}</td>

                            <td>{% get_persian_date item.request.timestamp.date %}</td>
                            <td>
                                <div class="ui button small teal view-details" data-req="{{ item.request.pk }}"
                                     data-user="{{ item.responder_pk }}">مشاهده
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            {% if threads.paginator.num_pages > 1 %}
                <div style="text-align: center;">
                    <div class="ui small pagination menu">
                        {% if threads.has_previous %}
                            <a href="?{{ get_params.urlencode }}&page={{ threads.previous_page_number }}"
                               class="icon item"><i class="icon right arrow"></i></a>
                        {% endif %}

                        {% for p in page_range %}
                            {% ifequal p requests.number %}
                                <a href="javascript:void(0);" class="active item">{{ p }}</a>
                            {% else %}
                                <a class="item" href="?{{ get_params.urlencode }}&page={{ p }}"> {{ p }}</a>
                            {% endifequal %}
                        {% endfor %}
                        {% if requests.has_next %}
                            <a class="item" href="?{{ get_params.urlencode }}&page={{ threads.next_page_number }}"
                               class="icon item"><i class="icon left arrow"></i></a>
                        {% endif %}
                    </div>
                </div>
            {% endif %}

        </div>
    </div>
{% endblock %}