{% extends 'base.html' %}
{% load account_tags %}
{% load staticfiles %}

{% block css %}

    <link href="{% static 'css/FJ.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/help.css' %}" rel="stylesheet" type="text/css">
    <style type="text/css">
        p {
            font: 13px/20px "BYekan", tahoma !important;
        }

        .news_item .more_buttons {
            left: 5px;
            bottom: 17px;
        }

        .ui.label {
            line-height: 10px;
            display: block;
            background-color: aliceblue;
            padding-right: 5px;
            border-radius: 1px;
            border: 1px solid lightblue;
        }

        .ui.label:hover {
            background-color: #178edc;
            cursor: pointer;
        }

    </style>
{% endblock %}

{% block js %}

    <script type="text/javascript" src="{% static 'js/rf.js' %}"></script>
    <script>
        function mySina() {
            x = $("#submit_button")[0];
            x.click();
        }
    </script>
{% endblock %}

{% block content %}
    <div class="center">
    <div class="ctn-box">
    {% get_user_type as u_type %}
    <form>
        <div class="ui icon input left small">


            <div style="width: 180px; display: inline-block">
                {{ search_form.total_search }}

            </div>
            <i class="inverted search icon" onclick="mySina()" style="cursor: pointer"></i>

        </div>

        <small class="advanced_search">جستجوی پیشرفته</small>

        <div class="advanced_search_panel ui segment blue form">
            <div class="container">
                <div class="advanced_search_form">
                    <div class="inline field">
                        <span class="inline field">
                        <label class="input_labels">{{ search_form.employer.label }}</label>
                            {{ search_form.employer }}
                        </span>
                        <<<<<<< HEAD
                        =======
                        {#                        <span class="inline field">#}
                        {#                        <label class="input_labels">{{ search_form.job_seeker.label }}</label>#}
                        {#                            {{ search_form.job_seeker }}#}
                        {#                        </span>#}
                        >>>>>>> d710fe9a4c8db6635cfe487da5f7a4ac6d315328
                    </div>

                    <div class="inline field">
                        <label class="input_labels">{{ search_form.title.label }}</label>
                        {{ search_form.title }}
                    </div>
                    <div class="inline field">
                        <label class="input_labels">{{ search_form.content.label }}</label>
                        {{ search_form.content }}
                    </div>
                    <div class="inline field">
                        <label class="input_labels">{{ search_form.cooperation_type.label }}</label>
                        {{ search_form.cooperation_type }}
                    </div>
                    <div class="inline field">
                        <label class="input_labels">{{ search_form.sex.label }}</label>
                        {{ search_form.sex }}
                    </div>
                    <div class="inline field">
                        <label class="input_labels">{{ search_form.status.label }}</label>
                        {{ search_form.status }}
                    </div>

                    <div class="search_buttons">
                        <input class="inline ui button" type="reset" value="پاک کردن">
                        <input class="inline ui button" type="submit" id="submit_button" value="جستجو">
                    </div>
                </div>
                <div class="ui vertical divider"></div>
                <div class="advanced_search_info">
                </div>
            </div>
        </div>
    </form>
    <div class="news_list">
        {% if requests %}
            {% for item in requests %}
                <div class="news_item ui raised segment">
                    <h2>{{ item.title }}</h2>

                    <div class="ui section divider light_margined"></div>
                    <div class="ui segment">
                        <div class="ui inverted relaxed divided list">
                            {% if request_type == 'offer' %}

                                {% if req_param == 'jReq' %}

                                    <div class="item Sina_height">
                                        <div class="content">
                                            <div class="Sina_label">فرستاده شده از طرف:</div>
                                            <div class="ui message green inline_block" style="line-height: 10px">
                                                {{ item.sender.get_full_name }}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="item Sina_height">
                                        <div class="content">
                                            <div class="Sina_label"> گیرنده هدف:</div>
                                            <div class="ui message green inline_block" style="line-height: 10px">
                                                {{ item.employer.profile.company_name }}
                                            </div>
                                        </div>
                                    </div>


                                {% else %}

                                    <div class="item Sina_height">
                                        <div class="content">
                                            <div class="Sina_label">فرستاده شده از طرف:</div>
                                            <div class="ui message green inline_block" style="line-height: 10px">
                                                {{ item.employer.profile.company_name }}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="item Sina_height">
                                        <div class="content">
                                            <div class="Sina_label"> گیرنده هدف:</div>
                                            <div class="ui message green inline_block" style="line-height: 10px">
                                                {% if item.em_receiver %}
                                                    {{ item.em_receiver.profile.company_name }}
                                                {% else %}
                                                    {{ item.js_receiver.get_full_name }}
                                                {% endif %}

                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% else %}
                                <div class="item Sina_height">
                                    <div class="content">
                                        <div class="Sina_label">فرستاده شده از طرف:</div>
                                        <div class="ui message green inline_block" style="line-height: 10px">
                                            {{ item.employer.profile.company_name }}
                                        </div>
                                    </div>
                                </div>
                                <div class="item Sina_height">
                                    <div class="content">
                                        <div class="Sina_label">رشته های تحصیلی مرتبط:</div>
                                        <div class="ui message green inline_block" style="line-height: 10px">
                                            {{ item.first_major }}
                                            {#                                            <br>#}
                                            {% if item.second_major %}
                                                و
                                                {{ item.second_major }}
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>

                                {% if item.certificate %}
                                    <div class="item Sina_height">
                                        <div class="content">
                                            <div class="Sina_label">مدرک تحصیلی مورد نیاز:</div>
                                            <div class="ui message green inline_block" style="line-height: 10px">
                                                {{ item.certificate }}
                                            </div>
                                        </div>
                                    </div>

                                {% endif %}

                                {% if item.sex %}
                                    <div class="item">
                                        <div class="content Sina_height">
                                            <div class=" Sina_label">جنسیت مورد نظر:</div>
                                            <div class="ui message green inline_block" style="line-height: 10px">
                                                {% get_sex_rep item.sex %}
                                                {#                                            {{ item.sex }}#}
                                            </div>
                                        </div>
                                    </div>

                                {% endif %}


                            {% endif %}

                            {% if item.content %}
                                <div class="item ">
                                    <div class="content ">
                                        <div class="Sina_label">توضیحات آگهی</div>
                                        <div class="ui message blue  dis">

                                            {{ item.content }}
                                        </div>
                                    </div>
                                </div>
                            {% endif %}

                            <div class="item">
                                <div class="content" style="position: absolute;right: 670px;top: 17px;">
                                    <div class="Sina_label">زمان ارسال:</div>
                                    <div class="ui message green">
                                        {% get_persian_date item.timestamp.date %} ساعت {{ item.timestamp.time }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="news_other">
                        {% if u_type != 'manager' %}
                            <div class="more_buttons">
                                <div class="ui animated button green small"
                                     onclick="window.location='{% url 'apply_for_job_opportunity' item.pk %}'">
                                    <div class="visible content green">اعلام تمایل به همکاری</div>
                                    <div class="hidden content"><i class="left arrow icon"> ایجاد درخواست</i></div>
                                </div>
                            </div>
                        {% else %}
                            <div class="more_buttons">
                                <div class="ui animated button green small"
                                     onclick="window.location='{% url 'request_status' item.pk %}'">
                                    <div class="visible content green">وضعیت درخواست</div>
                                    <div class="hidden content"><i class="left arrow icon">مشاهده متقاضیان </i>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="ui section divider"
                     style="margin-top:1rem !important;margin-bottom:1rem !important"></div>
            {% endfor %}
        {% else %}
            <div class="ui message error">
                نتیجه‌ای یافت نشد.
            </div>
        {% endif %}
    </div>
    {% if requests.paginator.num_pages > 1 %}
        <div style="text-align: center;">
            <div class="ui small pagination menu">
                {% if requests.has_previous %}
                    <a href="?{{ get_params.urlencode }}&page={{ requests.previous_page_number }}"
                       class="icon item"><i class="icon right arrow"></i></a>
                {% endif %}

                {% for p in page_range %}
                    {% ifequal p requests.number %}
                        <a href="javascript:void(0);" class="active item">{{ p }}</a>
                    {% else %}
                        <a class="item" href="?{{ get_params.urlencode }}&page={{ p }}"> {{ p }}</a>
                    {% endifequal %}
                {% endfor %}
                {% if requests.has_next %}
                    <a class="item" href="?{{ get_params.urlencode }}&page={{ requests.next_page_number }}"
                       class="icon item"><i class="icon left arrow"></i></a>
                {% endif %}
            </div>
        </div>
    {% endif %}
    </div>
    </div>
{% endblock %}
