
{% block content %}

    <div class="news_list">
        {% for item in products %}
            <div class="news_item ui raised segment">
                {% if item.image %}
                    <img src="{{ item.image.url|default:'/static/images/a.jpg' }}"/>
                {% else %}
                    <img src="/static/images/a.jpg"/>

                {% endif %}
                <h2>{{ item.name }}</h2>

                <div class="ui section divider light_margined"></div>
                <div class="news_content">
                    <p>
                        قیمت محصول
                        {{ item.price }}
                        تومان
                    </p>
                </div>
                <div class="news_content">
                    <p>
                        تعداد:
                    {{ item.count|default:"1" }} عدد
                    </p>
                </div>

                <div class="news_content">
                    <p>
                        {% if item.description %}
                            {{ item.description }}
                        {% endif %}
                    </p>
                </div>
                <div class="news_other">

                    <div class="date_rate">

                        <small>
                            افزوده شده به سبد خرید در
                            {% get_persian_date item.timestamp.date %} ساعت  {{ item.timestamp.time }}
                        </small>

                        <div class="field" style="margin-top: 5px">

                        </div>
                    </div>
                    <div class="more_buttons">
                        <div class="ui animated button  small"
                             onclick="window.location='/product/profile/{{ item.pk }}/'">
                            <div class="visible content"> توضیحات محصول</div>
                            <div class="hidden content"><i class="left arrow icon"></i></div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="ui section divider"
                 style="margin-top:1rem !important;margin-bottom:1rem !important"></div>
        {% endfor %}
    </div>

    {% if not not_show %}

    <div class="ui blue segment">
        <p>
            تعداد محصولات موجود در سبد خرید : {{ products|length }}
        </p>
        <br>
        <p>
            جمع محصولات خریداری شده:{{ price }}
            تومان
        </p>


        <form method="POST" >
            {% csrf_token %}
            <input  type="submit" class="ui button" style="float: left" value="ثبت خرید نهایی">
        </form>
    </div>

    {% endif %}

{% endblock %}